/* Classes */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

@media only screen and (max-width: 384px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

/* Helper  */
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Position helper classes */
.fixed, .fixed-top, .fixed-top-left, .fixed-top-right, .fixed-middle, .fixed-bottom, .fixed-bottom-left, .fixed-bottom-right {
  position: fixed; }
  .fixed-top, .fixed-top-left, .fixed-top-right {
    top: 0; }
    .fixed-top-left {
      left: 0; }
    .fixed-top-right {
      right: 0; }
  .fixed-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .fixed-marginauto {
    margin-left: auto;
    margin-right: auto; }

.fixed, .fixed-top, .fixed-top-left, .fixed-top-right, .fixed-middle, .fixed-bottom, .fixed-bottom-left, .fixed-bottom-right {
  position: fixed; }
  .fixed-bottom, .fixed-bottom-left, .fixed-bottom-right {
    bottom: 0; }
    .fixed-bottom-left {
      left: 0; }
    .fixed-bottom-right {
      right: 0; }
  .fixed-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .fixed-marginauto {
    margin-left: auto;
    margin-right: auto; }

.absolute, .absolute-top, .absolute-top-left, .absolute-top-right, .absolute-middle, .absolute-bottom, .absolute-bottom-left, .absolute-bottom-right {
  position: absolute; }
  .absolute-top, .absolute-top-left, .absolute-top-right {
    top: 0; }
    .absolute-top-left {
      left: 0; }
    .absolute-top-right {
      right: 0; }
  .absolute-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .absolute-marginauto {
    margin-left: auto;
    margin-right: auto; }

.absolute, .absolute-top, .absolute-top-left, .absolute-top-right, .absolute-middle, .absolute-bottom, .absolute-bottom-left, .absolute-bottom-right {
  position: absolute; }
  .absolute-bottom, .absolute-bottom-left, .absolute-bottom-right {
    bottom: 0; }
    .absolute-bottom-left {
      left: 0; }
    .absolute-bottom-right {
      right: 0; }
  .absolute-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .absolute-marginauto {
    margin-left: auto;
    margin-right: auto; }

.relative, .relative-top, .relative-top-left, .relative-top-right, .relative-middle, .relative-bottom, .relative-bottom-left, .relative-bottom-right {
  position: relative; }
  .relative-top, .relative-top-left, .relative-top-right {
    top: 0; }
    .relative-top-left {
      left: 0; }
    .relative-top-right {
      right: 0; }
  .relative-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .relative-marginauto {
    margin-left: auto;
    margin-right: auto; }

.relative, .relative-top, .relative-top-left, .relative-top-right, .relative-middle, .relative-bottom, .relative-bottom-left, .relative-bottom-right {
  position: relative; }
  .relative-bottom, .relative-bottom-left, .relative-bottom-right {
    bottom: 0; }
    .relative-bottom-left {
      left: 0; }
    .relative-bottom-right {
      right: 0; }
  .relative-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .relative-marginauto {
    margin-left: auto;
    margin-right: auto; }

/* Clearfix helper class */
.cf:after {
  content: ' ';
  display: table;
  clear: both;
  display: unset; }

/* Show/Hide helper classes */
.dis-show {
  display: initial !important;
  display: unset !important; }
  .vis-show {
    visibility: initial !important;
    visibility: unset !important; }

.dis-hide {
  display: none !important; }
  .vis-hide {
    visibility: hidden !important; }

/* f-middle = force middle */
.f-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .row-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; } }

@media only screen and (max-width: 480px) {
  .row-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; } }

.column-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  display: block;
  max-width: 100vmax;
  width: 100%;
  min-height: 100px; }
  .column-1::after {
    content: '';
    display: table;
    clear: both; }
  @media only screen and (min-width: 1920px) {
    .column-1 {
      min-width: 1920px; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .column-1 {
      min-width: 1600px; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .column-1 {
      min-width: 1024px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .row-container > .column-1 {
    -ms-flex-preferred-size: 100vmin;
    flex-basis: 100vmin;
    max-width: 100%;
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .row-container > .column-1 {
    -ms-flex-preferred-size: 100vmin;
    flex-basis: 100vmin;
    max-width: 100%;
    width: 100%; } }

.column-2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  display: block;
  max-width: 50vmax;
  width: 100%;
  min-height: 100px; }
  .column-2::after {
    content: '';
    display: table;
    clear: both; }
  @media only screen and (min-width: 1920px) {
    .column-2 {
      min-width: 960px; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .column-2 {
      min-width: 800px; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .column-2 {
      min-width: 512px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .row-container > .column-2 {
    -ms-flex-preferred-size: 50vmin;
    flex-basis: 50vmin;
    max-width: 100%;
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .row-container > .column-2 {
    -ms-flex-preferred-size: 50vmin;
    flex-basis: 50vmin;
    max-width: 100%;
    width: 100%; } }

.column-3 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33.33333%;
  flex: 1 0 33.33333%;
  display: block;
  max-width: 33.33333vmax;
  width: 100%;
  min-height: 100px; }
  .column-3::after {
    content: '';
    display: table;
    clear: both; }
  @media only screen and (min-width: 1920px) {
    .column-3 {
      min-width: 640px; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .column-3 {
      min-width: 533.33333px; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .column-3 {
      min-width: 341.33333px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .row-container > .column-3 {
    -ms-flex-preferred-size: 33.33333vmin;
    flex-basis: 33.33333vmin;
    max-width: 100%;
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .row-container > .column-3 {
    -ms-flex-preferred-size: 33.33333vmin;
    flex-basis: 33.33333vmin;
    max-width: 100%;
    width: 100%; } }

.column-4 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  display: block;
  max-width: 25vmax;
  width: 100%;
  min-height: 100px; }
  .column-4::after {
    content: '';
    display: table;
    clear: both; }
  @media only screen and (min-width: 1920px) {
    .column-4 {
      min-width: 480px; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .column-4 {
      min-width: 400px; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .column-4 {
      min-width: 256px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .row-container > .column-4 {
    -ms-flex-preferred-size: 25vmin;
    flex-basis: 25vmin;
    max-width: 100%;
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .row-container > .column-4 {
    -ms-flex-preferred-size: 25vmin;
    flex-basis: 25vmin;
    max-width: 100%;
    width: 100%; } }

.column-5 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 20%;
  flex: 1 0 20%;
  display: block;
  max-width: 20vmax;
  width: 100%;
  min-height: 100px; }
  .column-5::after {
    content: '';
    display: table;
    clear: both; }
  @media only screen and (min-width: 1920px) {
    .column-5 {
      min-width: 384px; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .column-5 {
      min-width: 320px; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .column-5 {
      min-width: 204.8px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .row-container > .column-5 {
    -ms-flex-preferred-size: 20vmin;
    flex-basis: 20vmin;
    max-width: 100%;
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .row-container > .column-5 {
    -ms-flex-preferred-size: 20vmin;
    flex-basis: 20vmin;
    max-width: 100%;
    width: 100%; } }

.column-6 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 16.66667%;
  flex: 1 0 16.66667%;
  display: block;
  max-width: 16.66667vmax;
  width: 100%;
  min-height: 100px; }
  .column-6::after {
    content: '';
    display: table;
    clear: both; }
  @media only screen and (min-width: 1920px) {
    .column-6 {
      min-width: 320px; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .column-6 {
      min-width: 266.66667px; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .column-6 {
      min-width: 170.66667px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .row-container > .column-6 {
    -ms-flex-preferred-size: 16.66667vmin;
    flex-basis: 16.66667vmin;
    max-width: 100%;
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .row-container > .column-6 {
    -ms-flex-preferred-size: 16.66667vmin;
    flex-basis: 16.66667vmin;
    max-width: 100%;
    width: 100%; } }
