/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 2rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h1 {
    font-size: 1.9rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h1 {
    font-size: 1.8rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 1.7rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 1.6rem; } }

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1920px) {
  h2 {
    font-size: 1.9rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h2 {
    font-size: 1.8rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h2 {
    font-size: 1.7rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h2 {
    font-size: 1.6rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h2 {
    font-size: 1.5rem; } }

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 1.4rem; } }

@media only screen and (min-width: 1920px) {
  h3 {
    font-size: 1.8rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h3 {
    font-size: 1.7rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h3 {
    font-size: 1.6rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h3 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h3 {
    font-size: 1.4rem; } }

@media only screen and (max-width: 480px) {
  h3 {
    font-size: 1.3rem; } }

@media only screen and (min-width: 1920px) {
  h4 {
    font-size: 1.7rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h4 {
    font-size: 1.6rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h4 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h4 {
    font-size: 1.4rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h4 {
    font-size: 1.3rem; } }

@media only screen and (max-width: 480px) {
  h4 {
    font-size: 1.2rem; } }

@media only screen and (min-width: 1920px) {
  h5 {
    font-size: 1.6rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h5 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h5 {
    font-size: 1.4rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h5 {
    font-size: 1.3rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h5 {
    font-size: 1.2rem; } }

@media only screen and (max-width: 480px) {
  h5 {
    font-size: 1.1rem; } }

@media only screen and (min-width: 1920px) {
  h6 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h6 {
    font-size: 1.4rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h6 {
    font-size: 1.3rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h6 {
    font-size: 1.2rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h6 {
    font-size: 1.1rem; } }

@media only screen and (max-width: 480px) {
  h6 {
    font-size: 1rem; } }

@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    word-break: break-all;
    word-wrap: break-word; } }

p {
  font-size: 0.98rem; }

.italic, .ita {
  font-style: italic; }

.oblique, .obl {
  font-style: oblique; }

.big {
  font-size: 120%; }

.bigger {
  font-size: 140%; }

.small {
  font-size: 80%; }

.smaller {
  font-size: 60%; }

.super {
  vertical-align: super; }

.sub {
  vertical-align: sub; }

p.footnote {
  color: #DDD; }
  p.footnote.italic, p.footnote.ita {
    font-style: italic; }
  p.footnote.oblique, p.footnote.obl {
    font-style: oblique; }
  p.footnote.big {
    font-size: 120%; }
  p.footnote.bigger {
    font-size: 140%; }
  p.footnote.small {
    font-size: 80%; }
  p.footnote.smaller {
    font-size: 60%; }
  p.footnote .super {
    vertical-align: super; }
  p.footnote.sub {
    vertical-align: sub; }
  p.footnote.invert-color {
    color: #222222; }
