/* Wrapper / <Main> */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
main, .wrapper {
  width: 100vw;
  max-width: 100% !important;
  min-height: 100vh;
  max-height: auto;
  overflow-x: hidden; }
  main.fixed-container, .wrapper.fixed-container {
    width: 80vw;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto; }

.fixed-container {
  margin-left: auto;
  margin-right: auto; }

/* Top - Header, menu, etc. */
header {
  max-width: 100%;
  width: 100%; }

/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
/* Start nav */
nav.nav-container {
  width: 100%;
  position: relative;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  /* Menu */ }
  nav.nav-container .menu {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 120px;
    grid-column-gap: 1%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    /* In case of small screen, center everything */
    /* Give option of spanning the <menu> 100%, but still keep the responsiveness */ }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      nav.nav-container .menu {
        width: 100%;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    @media only screen and (max-width: 480px) {
      nav.nav-container .menu {
        grid-template-columns: 100%; } }
    nav.nav-container .menu.logo-top {
      grid-template-columns: 100%;
      grid-template-rows: 100% 100%; }
      nav.nav-container .menu.logo-top > input[type=image], nav.nav-container .menu.logo-top .logo, nav.nav-container .menu.logo-top .logo > img {
        max-width: 100%;
        max-height: 100%;
        height: 100%; }
    nav.nav-container .menu.logo-right > ul {
      grid-row: 1; }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        nav.nav-container .menu.logo-right > ul {
          grid-row: 2; } }
    nav.nav-container .menu > input[type=image], nav.nav-container .menu .logo, nav.nav-container .menu .logo > img, nav.nav-container .menu > ul, nav.nav-container .menu > input {
      margin-left: auto;
      margin-right: auto; }
    nav.nav-container .menu > input[type=image], nav.nav-container .menu .logo, nav.nav-container .menu .logo > img, nav.nav-container .menu > input {
      height: 100%;
      /* F*ck you, -webkit- max height bug... */
      max-height: 100%; }
    nav.nav-container .menu > ul {
      -ms-flex-item-align: center;
      align-self: center; }
    nav.nav-container .menu > ul li, nav.nav-container .menu > li {
      float: left; }
    nav.nav-container .menu > ul li a, nav.nav-container .menu > li a {
      display: block;
      padding-left: 0.625rem;
      padding-right: 0.625rem; }
    nav.nav-container .menu.fluid {
      width: 100vw;
      grid-column-gap: 0; }
      nav.nav-container .menu.fluid > input[type=image], nav.nav-container .menu.fluid .logo, nav.nav-container .menu.fluid > ul, nav.nav-container .menu.fluid > input {
        margin: 0; }
      nav.nav-container .menu.fluid > input[type=image], nav.nav-container .menu.fluid .logo {
        justify-self: start; }
      nav.nav-container .menu.fluid > ul {
        justify-self: end; }

/* Content - <Section>, <Article>, <Aside>, etc. */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
/* Footer - <Footer>, .footer, #footer, etc. */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
footer, .footer, #footer {
  max-width: 100%;
  width: 100%; }
  footer > div, .footer > div, #footer > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

/* Responsive fixes */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
section {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    section {
      max-width: 100%; } }
  @media only screen and (max-width: 480px) {
    section {
      max-width: 100%; } }
