/* Wrapper / <Main> */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
main, .wrapper {
  width: 100vw;
  max-width: 100% !important;
  min-height: 100vh;
  max-height: auto;
  overflow-x: hidden; }
  main.fixed-container, .wrapper.fixed-container {
    width: 80vw;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto; }

.fixed-container {
  margin-left: auto;
  margin-right: auto; }

/* Top - Header, menu, etc. */
header {
  max-width: 100%;
  width: 100%; }

/* Don't use <menu> or <menuitem> as it is Deprecated and WILL be removed */
header, .header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%; }
  header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100px; }
    @media only screen and (min-width: 1920px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        grid-auto-flow: column;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    @media only screen and (min-width: 1600px) and (max-width: 1919px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        grid-auto-flow: column;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        grid-auto-flow: column;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        grid-auto-flow: column;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        grid-auto-flow: row; } }
    @media only screen and (max-width: 480px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        grid-auto-flow: row; } }
    @media only screen and (min-width: 1920px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        min-width: 1920px;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (min-width: 1600px) and (max-width: 1919px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        min-width: 1600px;
        max-width: 1920px; } }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        min-width: 1024px;
        max-width: 1600px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        min-width: 768px;
        max-width: 1024px; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        min-width: 100%;
        max-width: 100%; } }
    @media only screen and (max-width: 480px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        min-width: 100%;
        max-width: 100%; } }
    header > nav.space-between, header .navigation.space-between, header .menu.space-between, .header > nav.space-between, .header .navigation.space-between, .header .menu.space-between {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    header > nav.start, header .navigation.start, header .menu.start, .header > nav.start, .header .navigation.start, .header .menu.start {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start; }
    header > nav.end, header .navigation.end, header .menu.end, .header > nav.end, .header .navigation.end, .header .menu.end {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: end; }
    header > nav.center, header .navigation.center, header .menu.center, .header > nav.center, .header .navigation.center, .header .menu.center {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        height: auto;
        grid-template-rows: auto; } }
    @media only screen and (max-width: 480px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        height: auto;
        grid-template-rows: auto; } }
    header > nav .logo, header > nav .logotype, header > nav input[type='image'], header .navigation .logo, header .navigation .logotype, header .navigation input[type='image'], header .menu .logo, header .menu .logotype, header .menu input[type='image'], .header > nav .logo, .header > nav .logotype, .header > nav input[type='image'], .header .navigation .logo, .header .navigation .logotype, .header .navigation input[type='image'], .header .menu .logo, .header .menu .logotype, .header .menu input[type='image'] {
      height: auto;
      max-height: 100%;
      width: auto;
      max-width: 100%; }
      header > nav .logo.right, header > nav .logotype.right, header > nav input[type='image'].right, header .navigation .logo.right, header .navigation .logotype.right, header .navigation input[type='image'].right, header .menu .logo.right, header .menu .logotype.right, header .menu input[type='image'].right, .header > nav .logo.right, .header > nav .logotype.right, .header > nav input[type='image'].right, .header .navigation .logo.right, .header .navigation .logotype.right, .header .navigation input[type='image'].right, .header .menu .logo.right, .header .menu .logotype.right, .header .menu input[type='image'].right {
        justify-self: end; }
      header > nav .logo.center, header > nav .logotype.center, header > nav input[type='image'].center, header .navigation .logo.center, header .navigation .logotype.center, header .navigation input[type='image'].center, header .menu .logo.center, header .menu .logotype.center, header .menu input[type='image'].center, .header > nav .logo.center, .header > nav .logotype.center, .header > nav input[type='image'].center, .header .navigation .logo.center, .header .navigation .logotype.center, .header .navigation input[type='image'].center, .header .menu .logo.center, .header .menu .logotype.center, .header .menu input[type='image'].center {
        justify-self: center; }
      header > nav .logo > img, header > nav .logotype > img, header > nav input[type='image'] > img, header .navigation .logo > img, header .navigation .logotype > img, header .navigation input[type='image'] > img, header .menu .logo > img, header .menu .logotype > img, header .menu input[type='image'] > img, .header > nav .logo > img, .header > nav .logotype > img, .header > nav input[type='image'] > img, .header .navigation .logo > img, .header .navigation .logotype > img, .header .navigation input[type='image'] > img, .header .menu .logo > img, .header .menu .logotype > img, .header .menu input[type='image'] > img {
        height: 100%;
        max-height: 100%;
        width: auto;
        max-width: 100%;
        -o-object-fit: contain;
        object-fit: contain; }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        header > nav .logo, header > nav .logotype, header > nav input[type='image'], header .navigation .logo, header .navigation .logotype, header .navigation input[type='image'], header .menu .logo, header .menu .logotype, header .menu input[type='image'], .header > nav .logo, .header > nav .logotype, .header > nav input[type='image'], .header .navigation .logo, .header .navigation .logotype, .header .navigation input[type='image'], .header .menu .logo, .header .menu .logotype, .header .menu input[type='image'] {
          margin-left: auto;
          margin-right: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          justify-self: center; } }
      @media only screen and (max-width: 480px) {
        header > nav .logo, header > nav .logotype, header > nav input[type='image'], header .navigation .logo, header .navigation .logotype, header .navigation input[type='image'], header .menu .logo, header .menu .logotype, header .menu input[type='image'], .header > nav .logo, .header > nav .logotype, .header > nav input[type='image'], .header .navigation .logo, .header .navigation .logotype, .header .navigation input[type='image'], .header .menu .logo, .header .menu .logotype, .header .menu input[type='image'] {
          margin-left: auto;
          margin-right: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          justify-self: center; } }
    header > nav ul, header > nav ul.menu, header .navigation ul, header .navigation ul.menu, header .menu ul, header .menu ul.menu, .header > nav ul, .header > nav ul.menu, .header .navigation ul, .header .navigation ul.menu, .header .menu ul, .header .menu ul.menu {
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      -ms-flex-item-align: center;
      align-self: center;
      white-space: nowrap; }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        header > nav ul, header > nav ul.menu, header .navigation ul, header .navigation ul.menu, header .menu ul, header .menu ul.menu, .header > nav ul, .header > nav ul.menu, .header .navigation ul, .header .navigation ul.menu, .header .menu ul, .header .menu ul.menu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          header > nav ul > li, header > nav ul.menu > li, header .navigation ul > li, header .navigation ul.menu > li, header .menu ul > li, header .menu ul.menu > li, .header > nav ul > li, .header > nav ul.menu > li, .header .navigation ul > li, .header .navigation ul.menu > li, .header .menu ul > li, .header .menu ul.menu > li {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1; } }
      header > nav ul > li, header > nav ul.menu > li, header .navigation ul > li, header .navigation ul.menu > li, header .menu ul > li, header .menu ul.menu > li, .header > nav ul > li, .header > nav ul.menu > li, .header .navigation ul > li, .header .navigation ul.menu > li, .header .menu ul > li, .header .menu ul.menu > li {
        display: inline-block;
        position: relative; }
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          header > nav ul > li, header > nav ul.menu > li, header .navigation ul > li, header .navigation ul.menu > li, header .menu ul > li, header .menu ul.menu > li, .header > nav ul > li, .header > nav ul.menu > li, .header .navigation ul > li, .header .navigation ul.menu > li, .header .menu ul > li, .header .menu ul.menu > li {
            display: block; } }
        @media only screen and (max-width: 480px) {
          header > nav ul > li, header > nav ul.menu > li, header .navigation ul > li, header .navigation ul.menu > li, header .menu ul > li, header .menu ul.menu > li, .header > nav ul > li, .header > nav ul.menu > li, .header .navigation ul > li, .header .navigation ul.menu > li, .header .menu ul > li, .header .menu ul.menu > li {
            display: block; } }
        header > nav ul > li > a, header > nav ul.menu > li > a, header .navigation ul > li > a, header .navigation ul.menu > li > a, header .menu ul > li > a, header .menu ul.menu > li > a, .header > nav ul > li > a, .header > nav ul.menu > li > a, .header .navigation ul > li > a, .header .navigation ul.menu > li > a, .header .menu ul > li > a, .header .menu ul.menu > li > a {
          display: block;
          font-size: 1rem;
          padding: 10px;
          text-align: center;
          white-space: nowrap; }

/* Content - <Section>, <Article>, <Aside>, etc. */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
html, body, main {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%; }

/* Footer - <Footer>, .footer, #footer, etc. */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
footer, .footer, #footer {
  max-width: 100%;
  width: 100%; }
  footer > div, .footer > div, #footer > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

/* Responsive fixes */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
section {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    section {
      max-width: 100%; } }
  @media only screen and (max-width: 480px) {
    section {
      max-width: 100%; } }
