@-ms-viewport {
  width: device-width; }

/*
This is more of a reset than a traditional "normalizer", but with "normalizer" settings thrown in.
It's made more to my taste as to what a reset/normalizer should do,
which is to make elements behave in way "you want to", but still keeping things
like still being able to use "margin: 0 auto;", etc.
This is basically the result of a lot of testing.
It is completely optional to use this or not.
NO CREDIT IS NEEDED. USE AND/OR ABUSE THIS HOWEVER YOU WANT.

Use html5shiv to get the best result in legacy Internet Explorer browsers ( https://github.com/aFarkas/html5shiv )
html5shiv does however not work for HTML5 inputs, such as "<input type=color>" and please
keep in mind that IE7- do NOT accept styling of unknown elements (of any type).

Browsers Tested:

    Internet Explorer (actually tested in virtual enviroment): 7(*), 8, 9
    Edge: 41.16299.15.0
    Opera: 50.0.2762.67
    Chrome: 63.0.3239.132, 64.0.3282.140
    Firefox: 58.0.1
    Firefox Nightly: 60.0a1
    Firefox Developer: 59.0b6
    Vivaldi: 1.14.1077.41
    Brave: 0.19.147, 0.20.30

    * = It is recommend to just NOT use HTML5 or CSS3 technologies for this browser.

    Why I haven't tested this in any other legacy browsers than Internet Explorer's 7, 8 and 9, is because
    if someone uses a different browser than IE, they are most probably/likely keeping their browser
    up to date.
    Instead of trying to support legacy IE browsers, the best thing would be to add a short code
    that makes the website inaccessible, unless they get a modern one. We all know what a pain
    in the ass Internet Explorer is, hence the reason to just not support it. Who thinks it's
    fun to develop for something that gives you too many limitations, right?
 -----------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------
*/
/* BW = Border-width, BS = Border-style, BC = Border-color */
/* Normalize all of these and apply "thin" to the border-width, instead of the default */
/* Reset texts */
html {
  -webkit-tab-size: 0;
  -moz-tab-size: 0;
  -o-tab-size: 0;
  tab-size: 0; }

html > body {
  -webkit-tab-size: 8;
  -moz-tab-size: 8;
  -o-tab-size: 8;
  tab-size: 8;
  font-family: "Verdana", sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-size: inherit;
  font-size-adjust: 0.54;
  font-weight: 400;
  text-align: inherit;
  unicode-bidi: embed;
  line-height: 1.4em;
  color: inherit; }

html, body {
  margin: 0;
  padding: 0;
  /* Removes "Whitespace nodes", (but not for inputs) } Both are needed */
  /* Removes "Whitespace nodes", (but not for inputs) } for this fix */
  white-space: nowrap;
  white-space: initial; }

article, aside, dialog, footer, header, menu, main, nav, section, details, div, img, video, canvas, svg, embed, source, track, form, ul, li, iframe, figure, picture, b, i, u, s, q, strike, code, tt, small, font, center, em, strong, sub, sup, del, samp, big, mark, abbr, bdi, summary, dfn, caption, ins, legend, cite, var, label, rt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  border-top-width: thin;
  border-top-style: none;
  border-top-color: transparent;
  border-right-width: thin;
  border-right-style: none;
  border-right-color: transparent;
  border-bottom-width: thin;
  border-bottom-style: none;
  border-bottom-color: transparent;
  border-left-width: thin;
  border-left-style: none;
  border-left-color: transparent; }

b, i, u, s, q, strike, code, tt, small, font, center, em, strong, sub, sup, del, samp, big, mark, abbr, bdi, summary, dfn, caption, ins, legend, cite, var, label, rt,
details {
  font-family: "Verdana", sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-size: inherit;
  font-size-adjust: 0.54;
  font-weight: 400;
  text-align: inherit;
  unicode-bidi: embed;
  line-height: 1.4em;
  color: inherit;
  word-spacing: 0.01em;
  word-wrap: break-word;
  vertical-align: baseline;
  letter-spacing: 0.1px;
  direction: ltr;
  /* Font smooth hack */
  text-shadow: 0.1px 0.1px 0 rgba(0, 0, 0, 0.4); }

blockquote, dd, dir, dl, dt, figcaption, figure, hr, li, main, ol, p, pre, ul {
  display: block; }

a, abbr, b, bdi, bdo, br, cite, code, data, dfn, em, i, kbd, mark, nobr, q, rp, rt, rtc, ruby, s, samp, small, span, strong, sub, time, tt, u, var, wbr {
  display: inline; }

em, strong, dfn, code, samp, kbd, var, cite, a, basefont, img, applet, param, font, br, map, area, tt, i, b, u, strike, big, small, sub, sup, input, select, option, textarea, caption, tr, th, td, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  font-family: "Verdana", sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-size: inherit;
  font-size-adjust: 0.54;
  font-weight: 400;
  text-align: inherit;
  unicode-bidi: embed;
  line-height: 1.4em;
  color: inherit;
  word-spacing: 0.01em;
  word-wrap: break-word;
  vertical-align: baseline;
  letter-spacing: 0.1px;
  direction: ltr;
  /* Font smooth hack */
  text-shadow: 0.1px 0.1px 0 rgba(0, 0, 0, 0.4); }

h1 {
  font-size: 200%; }

h2 {
  font-size: 150%; }

h3 {
  font-size: 130%; }

h4 {
  font-size: 100%; }

h5 {
  font-size: 80%; }

h6 {
  font-size: 70%; }

br {
  clear: both; }

input, select, option, button, textarea, datalist, output, optgroup {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  font-family: "Verdana", sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-size: inherit;
  font-size-adjust: 0.54;
  font-weight: 400;
  text-align: inherit;
  unicode-bidi: embed;
  line-height: 1.4em;
  color: inherit;
  background-color: #F1F1F1; }

/* Only apply any size related CSS styling to these and NOT radio- or checkbox-buttons */
input[type="text"], input[type="button"], input[type="color"],
input[type="date"], input[type="datetime-local"], input[type="email"],
input[type="file"], input[type="image"], input[type="month"],
input[type="number"], input[type="range"], input[type="reset"],
input[type="password"], input[type="submit"], input[type="tel"],
input[type="time"], input[type="url"], input[type="week"],
select, textarea {
  margin-bottom: 1px; }

input[type=image] {
  background-color: initial; }

/* HTML5 Input Elements */
input[type="search"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"],
input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"] {
  display: block; }

/* IE8 & where src hasn't been given source */
* + html input[type="image"],
input[type="image"][src=""],
input[src=""] {
  display: none; }

input[type="file"] {
  /* Vertically centers text and button */
  line-height: 250%; }

input, select, textarea, button {
  min-width: 1px;
  /* Gives input color a "standard" height for some reason (not only 1px) */
  min-height: 1px;
  /* Fixes IE7 */
  padding: 1px; }

[type="button"], [type="submit"], [type="reset"] button {
  -webkit-appearance: button;
  border: 0; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/* For <input type="file"> for -webkit-, such as: Opera, Chrome, etc. */
::-webkit-file-upload-button {
  /* Vertically centers text and button */
  line-height: 250%;
  min-width: 1px;
  /* Gives input color a "standard" height for some reason (not only 1px) */
  min-height: 1px;
  /* Fixes IE7 */
  padding: 1px;
  border: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0; }

form,
form > fieldset,
form > input,
form > textarea,
form > button,
form > fieldset > input,
form > fieldset > textarea,
form > fieldset > button {
  word-spacing: 0; }

form {
  /* Works better than display inline since "margin: 0 auto;" now can be used, but no longer gets a "width: 100%;" default value */
  display: table; }

form > fieldset {
  display: inline;
  padding: 0.35em 0.75em 0.625em; }

form > legend {
  display: table; }

form > input,
form > textarea,
form > button,
form > fieldset > input,
form > fieldset > textarea,
form > fieldset > button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block; }

form > input,
form > textarea,
form > button {
  /* IE7 and 8 hack */
  float: left\9;
  clear: both\9; }

form > fieldset > input[type="radio"], form > fieldset > input[type="checkbox"] {
  display: table-cell; }

input[type="radio"], input[type="checkbox"] {
  display: table-cell;
  clear: initial; }

form, input, textarea, button, legend, select, option {
  -webkit-margin-start: 0;
  -moz-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  -moz-margin-end: 0;
  margin-inline-end: 0;
  -webkit-padding-before: 0;
  padding-block-start: 0;
  -webkit-padding-after: 0;
  padding-block-end: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  padding-inline-end: 0; }

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0; }

caption {
  caption-side: top; }

center, caption {
  text-align: center; }

sub, sup, small {
  font-size: 80%; }

cite, i, var, dfn {
  font-style: italic; }

em {
  font-style: oblique; }

code, samp, pre, kbd {
  font-family: monospace, monospace; }

ins {
  text-decoration: underline; }

pre {
  white-space: pre;
  margin: 0.2em 0 0; }

s {
  text-decoration: line-through; }

b, strong {
  font-weight: bolder; }

sub {
  vertical-align: sub; }

sup {
  vertical-align: super; }

var {
  color: BlueViolet;
  font-weight: 500; }

mark {
  /* Inline unfortunately this creates "Whitespace nodes"... Deal with it ;P */
  display: table;
  /* F*ck display: inline;.... Seriously... */
  background-color: #FFFF61; }

abbr {
  border-bottom: 1px dotted #000; }

kbd {
  /* This fixes/removes the "Whitespace nodes" it spits out */
  display: block; }

summary {
  display: list-item; }

blockquote {
  margin: 0; }

img, video {
  float: left;
  clear: both; }

address, article, aside, canvas, div, fieldset, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, nav, output, section, table, tfoot, video {
  display: block; }

a {
  outline: none; }
  a, a:visited {
    text-decoration: none;
    color: #0008ff; }
  a:hover, a:focus, a:active {
    text-decoration: underline; }

/* IE7 and 8 hack */
* + html img, * + html video {
  float: left\9;
  clear: both\9; }

table, tbody, thead, tfoot, th, tr, td, colgroup, col {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-size: inherit;
  font-size-adjust: 0.54;
  font-weight: 400;
  text-align: inherit;
  unicode-bidi: embed;
  line-height: 1.4em;
  color: inherit; }

table {
  /* Even though the "user-agent"-default is table-row-group, but table is better (in my opinion) since "margin: 0 auto" can be used with it, even without "width" */
  display: table;
  /* Let's make tables automagically responsive with this simple line of code */
  overflow-x: auto; }

tbody {
  /* Since tbody gets generated automatically, let's make <tbody> act as if it's the table */
  display: table-row-group; }

thead {
  display: table-header-group; }

tfoot {
  display: table-footer-group; }

tr {
  display: table-row; }

th, td {
  display: table-cell; }

th {
  font-weight: bold; }

[hidden] {
  /* In case it gets overriden somewhere */
  display: none !important; }

[visibility="hidden"] {
  /* In case it gets overriden somewhere */
  visibility: hidden !important; }

[dir="ltr"] {
  direction: ltr; }

[dir="rtl"] {
  direction: rtl; }

[dir="auto"] {
  direction: inherit; }

/*
* ------------- 9) Display none / [src=""] ------------- *
*/
audio[src=""],
embed[src=""],
iframe[src=""],
img[src=""],
source[src=""],
track[src=""],
video[src=""] {
  /* If either of these elements (accepting the src attribute) are empty, set "display: none;" to not take up space in the layout */
  display: none !important;
  display: none\9  !important; }

/* Legacy IE (Internet Explorer) will completely ignore this rule */
@supports (display: block) {
  abbr {
    border: 0;
    display: block;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted; } }

article, aside, audio, canvas, command, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time, track, video, wbr, menu {
  /* A "fix" for older browsers */
  display: block; }

body.unset > *, form.unset > *, table.unset > *, fieldset.unset > *, header.unset > *, section.unset > *, aside.unset > *, footer.unset > * {
  all: initial;
  all: unset; }

div.unset, details.unset {
  all: initial;
  all: unset; }

.unset, .unset-children > * {
  all: initial;
  all: unset; }

*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  scroll-behavior: smooth;
  /* Smooth scrolling to anchors without using Javascript or jQuery ( only works in Firefox and Chrome as of writing moment https://caniuse.com/#search=scroll-behavior ) */ }

/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
.bg-white {
  background-color: #ECF0F1; }

.color-white {
  color: #ECF0F1; }

.bg-gray {
  background-color: #6C7A89; }

.color-gray {
  color: #6C7A89; }

.bg-black {
  background-color: #333333; }

.color-black {
  color: #333333; }

.bg-red {
  background-color: #EF4836; }

.color-red {
  color: #EF4836; }

.bg-burntorange {
  background-color: #D35400; }

.color-burntorange {
  color: #D35400; }

.bg-crustred {
  background-color: #F2784B; }

.color-crustred {
  color: #F2784B; }

.bg-orange {
  background-color: #F64747; }

.color-orange {
  color: #F64747; }

.bg-caliorange {
  background-color: #F89406; }

.color-caliorange {
  color: #F89406; }

.bg-pink {
  background-color: #D2527F; }

.color-pink {
  color: #D2527F; }

.bg-purple {
  background-color: #663399; }

.color-purple {
  color: #663399; }

.bg-studiopurple {
  background-color: #8E44AD; }

.color-studiopurple {
  color: #8E44AD; }

.bg-blue {
  background-color: #4183D7; }

.color-blue {
  color: #4183D7; }

.bg-marineblue {
  background-color: #446CB3; }

.color-marineblue {
  color: #446CB3; }

.bg-deepblue {
  background-color: #013243; }

.color-deepblue {
  color: #013243; }

.bg-lightblue {
  background-color: #6BB9F0; }

.color-lightblue {
  color: #6BB9F0; }

.bg-green {
  background-color: #00e640; }

.color-green {
  color: #00e640; }

.bg-gossipgreen {
  background-color: #87D37C; }

.color-gossipgreen {
  color: #87D37C; }

.bg-salemgreen {
  background-color: #1E824C; }

.color-salemgreen {
  color: #1E824C; }

.bg-yellow {
  background-color: #F7CA18; }

.color-yellow {
  color: #F7CA18; }

/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 2rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h1 {
    font-size: 1.9rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h1 {
    font-size: 1.8rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 1.7rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 1.6rem; } }

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1920px) {
  h2 {
    font-size: 1.9rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h2 {
    font-size: 1.8rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h2 {
    font-size: 1.7rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h2 {
    font-size: 1.6rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h2 {
    font-size: 1.5rem; } }

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 1.4rem; } }

@media only screen and (min-width: 1920px) {
  h3 {
    font-size: 1.8rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h3 {
    font-size: 1.7rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h3 {
    font-size: 1.6rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h3 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h3 {
    font-size: 1.4rem; } }

@media only screen and (max-width: 480px) {
  h3 {
    font-size: 1.3rem; } }

@media only screen and (min-width: 1920px) {
  h4 {
    font-size: 1.7rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h4 {
    font-size: 1.6rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h4 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h4 {
    font-size: 1.4rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h4 {
    font-size: 1.3rem; } }

@media only screen and (max-width: 480px) {
  h4 {
    font-size: 1.2rem; } }

@media only screen and (min-width: 1920px) {
  h5 {
    font-size: 1.6rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h5 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h5 {
    font-size: 1.4rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h5 {
    font-size: 1.3rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h5 {
    font-size: 1.2rem; } }

@media only screen and (max-width: 480px) {
  h5 {
    font-size: 1.1rem; } }

@media only screen and (min-width: 1920px) {
  h6 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h6 {
    font-size: 1.4rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h6 {
    font-size: 1.3rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h6 {
    font-size: 1.2rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h6 {
    font-size: 1.1rem; } }

@media only screen and (max-width: 480px) {
  h6 {
    font-size: 1rem; } }

@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    word-break: break-all;
    word-wrap: break-word; } }

p {
  font-size: 0.98rem; }

.italic, .ita {
  font-style: italic; }

.oblique, .obl {
  font-style: oblique; }

.big {
  font-size: 120%; }

.bigger {
  font-size: 140%; }

.small {
  font-size: 80%; }

.smaller {
  font-size: 60%; }

.super {
  vertical-align: super; }

.sub {
  vertical-align: sub; }

p.footnote {
  color: #DDD; }
  p.footnote.italic, p.footnote.ita {
    font-style: italic; }
  p.footnote.oblique, p.footnote.obl {
    font-style: oblique; }
  p.footnote.big {
    font-size: 120%; }
  p.footnote.bigger {
    font-size: 140%; }
  p.footnote.small {
    font-size: 80%; }
  p.footnote.smaller {
    font-size: 60%; }
  p.footnote .super {
    vertical-align: super; }
  p.footnote.sub {
    vertical-align: sub; }
  p.footnote.invert-color {
    color: #222222; }

a.danger, a.red {
  color: #EF4836; }

a.success, a.green {
  color: #87D37C; }

a.message, a.blue {
  color: #4B77BE; }

/* Classes */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
/* Helper  */
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

ul.block-center {
  display: table;
  margin-left: auto;
  margin-right: auto; }

/* Position helper classes */
.fixed, .fixed-top, .fixed-top-left, .fixed-top-right, .fixed-middle, .fixed-bottom, .fixed-bottom-left, .fixed-bottom-right {
  position: fixed; }
  .fixed-top, .fixed-top-left, .fixed-top-right {
    top: 0; }
    .fixed-top-left {
      left: 0; }
    .fixed-top-right {
      right: 0; }
  .fixed-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .fixed-marginauto {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.fixed, .fixed-top, .fixed-top-left, .fixed-top-right, .fixed-middle, .fixed-bottom, .fixed-bottom-left, .fixed-bottom-right {
  position: fixed; }
  .fixed-bottom, .fixed-bottom-left, .fixed-bottom-right {
    bottom: 0; }
    .fixed-bottom-left {
      left: 0; }
    .fixed-bottom-right {
      right: 0; }
  .fixed-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .fixed-marginauto {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.absolute, .absolute-top, .absolute-top-left, .absolute-top-right, .absolute-middle, .absolute-bottom, .absolute-bottom-left, .absolute-bottom-right {
  position: absolute; }
  .absolute-top, .absolute-top-left, .absolute-top-right {
    top: 0; }
    .absolute-top-left {
      left: 0; }
    .absolute-top-right {
      right: 0; }
  .absolute-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .absolute-marginauto {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.absolute, .absolute-top, .absolute-top-left, .absolute-top-right, .absolute-middle, .absolute-bottom, .absolute-bottom-left, .absolute-bottom-right {
  position: absolute; }
  .absolute-bottom, .absolute-bottom-left, .absolute-bottom-right {
    bottom: 0; }
    .absolute-bottom-left {
      left: 0; }
    .absolute-bottom-right {
      right: 0; }
  .absolute-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .absolute-marginauto {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.relative, .relative-top, .relative-top-left, .relative-top-right, .relative-middle, .relative-bottom, .relative-bottom-left, .relative-bottom-right {
  position: relative; }
  .relative-top, .relative-top-left, .relative-top-right {
    top: 0; }
    .relative-top-left {
      left: 0; }
    .relative-top-right {
      right: 0; }
  .relative-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .relative-marginauto {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.relative, .relative-top, .relative-top-left, .relative-top-right, .relative-middle, .relative-bottom, .relative-bottom-left, .relative-bottom-right {
  position: relative; }
  .relative-bottom, .relative-bottom-left, .relative-bottom-right {
    bottom: 0; }
    .relative-bottom-left {
      left: 0; }
    .relative-bottom-right {
      right: 0; }
  .relative-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .relative-marginauto {
    display: block;
    margin-left: auto;
    margin-right: auto; }

/* Clearfix helper class */
.cf {
  *zoom: 1; }
  .cf::after {
    display: block;
    display: contents;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }

.cf {
  display: inline-block; }

html[xmlns] .cf {
  display: block; }

* html .cf {
  height: 1%; }

/* Show/Hide/Display/Visibility helper classes */
.dis-show {
  display: initial !important;
  display: unset !important; }
  .vis-show {
    visibility: initial !important;
    visibility: unset !important; }

.dis-hide {
  display: none !important; }
  .vis-hide {
    visibility: hidden !important; }

/* Hide Classes */
.hide {
  /* IE Hide Classes */ }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .hide-big-desktop {
      display: none; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .hide-desktop, .hide-big-desktop, .show-big-desktop {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .hide-tab-x, .hide-big-desktop, .hide-desktop, .show-big-desktop {
      display: none; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .hide-tablet, .hide-big-desktop, .hide-desktop, .show-big-desktop, .hide-tab-x {
      display: none; } }
  @media only screen and (max-width: 480px) {
    .hide-phone, .hide-big-desktop, .hide-desktop, .show-big-desktop, .hide-tab-x, .hide-tablet {
      display: none; } }
  .hide-ie {
    display: none\9;
    visibility: hidden\9; }
  .hide-lte-ie6 {
    /* Lower than and equal to IE6 */
    display/**/: none;
    visibility/**/: none; }

/* Show Classes */
.show {
  /* IE Show Classes */ }
  @media only screen and (min-width: 1920px) {
    .show-big-desktop {
      display: inherit; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .show-big-desktop {
      display: inherit; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .show-desktop {
      display: inherit; } }
  @media only screen and (min-width: 1920px) {
    .show-desktop {
      display: none; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .show-desktop {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .show-tab-x {
      display: inherit; } }
  @media only screen and (min-width: 1920px) {
    .show-tab-x {
      display: none; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .show-tab-x {
      display: none; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .show-tab-x {
      display: none; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .show-tablet {
      display: inherit; } }
  @media only screen and (min-width: 1920px) {
    .show-tablet {
      display: none; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .show-tablet {
      display: none; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .show-tablet {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .show-tablet {
      display: none; } }
  @media only screen and (max-width: 480px) {
    .show-phone {
      display: inherit; } }
  @media only screen and (min-width: 1920px) {
    .show-phone {
      display: none; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .show-phone {
      display: none; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .show-phone {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .show-phone {
      display: none; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .show-phone {
      display: none; } }
  .show-ie {
    display: block\9;
    visibility: visible\9; }
  .show-lte-ie6 {
    /* Lower than and equal to IE6 */
    display/**/: block;
    visibility/**/: visible; }

/* Push Classes */
/* Margin */
.push {
  /* Padding */ }
  .push-m {
    margin-top: 1.875rem;
    margin-right: 1.875rem;
    margin-bottom: 1.875rem;
    margin-left: 1.875rem; }
  .push-m-lr {
    margin-left: 1.875rem;
    margin-right: 1.875rem; }
  .push-m-tb {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem; }
  .push-m-left {
    margin-left: 1.875rem; }
  .push-m-right {
    margin-right: 1.875rem; }
  .push-m-top {
    margin-top: 1.875rem; }
  .push-m-bottom {
    margin-bottom: 1.875rem; }
  .push-p {
    padding-top: 1.875rem;
    padding-right: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: 1.875rem; }
  .push-p-lr {
    padding-left: 1.875rem;
    padding-right: 1.875rem; }
  .push-p-tb {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem; }
  .push-p-left {
    padding-left: 1.875rem; }
  .push-p-right {
    padding-right: 1.875rem; }
  .push-p-top {
    padding-top: 1.875rem; }
  .push-p-bottom {
    padding-bottom: 1.875rem; }

/* f-middle = force middle */
.force-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.sticky-box {
  position: -webkit-sticky;
  position: sticky; }
  .sticky-box::after {
    display: block;
    display: contents;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }

/*
** Container **
*/
.container::after {
  display: block;
  display: contents;
  clear: both;
  line-height: 0;
  height: 0;
  content: " "; }

/*
** Containers and columns **
*/
/* Flex Container */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .flex-container.flow-row-rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap; }
  .flex-container.flow-column {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
    .flex-container.flow-column-rev {
      max-width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse wrap;
      flex-flow: column-reverse wrap; }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; } }

@media only screen and (max-width: 480px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; } }

.flex-container > .column-1 {
  -webkit-box-flex: 12;
  -ms-flex: 12 0 100%;
  flex: 12 0 100%; }

@media only screen and (max-width: 480px) {
  .flex-container .column-1 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

.flex-container > .column-2 {
  -webkit-box-flex: 6;
  -ms-flex: 6 0 50%;
  flex: 6 0 50%; }

@media only screen and (max-width: 480px) {
  .flex-container .column-2 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

.flex-container > .column-3 {
  -webkit-box-flex: 4;
  -ms-flex: 4 0 33.33333%;
  flex: 4 0 33.33333%; }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flex-container .column-3 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; } }

@media only screen and (max-width: 480px) {
  .flex-container .column-3 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

.flex-container > .column-4 {
  -webkit-box-flex: 3;
  -ms-flex: 3 0 25%;
  flex: 3 0 25%; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .flex-container .column-4 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flex-container .column-4 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; } }

@media only screen and (max-width: 480px) {
  .flex-container .column-4 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

.flex-container > .column-5 {
  -webkit-box-flex: 2.4;
  -ms-flex: 2.4 0 20%;
  flex: 2.4 0 20%; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .flex-container .column-5 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flex-container .column-5 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; } }

@media only screen and (max-width: 480px) {
  .flex-container .column-5 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

.flex-container > .column-6 {
  -webkit-box-flex: 2;
  -ms-flex: 2 0 16.66667%;
  flex: 2 0 16.66667%; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .flex-container .column-6 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flex-container .column-6 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; } }

@media only screen and (max-width: 480px) {
  .flex-container .column-6 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

/* Grid Container */
.grid-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .grid-container {
      grid-auto-columns: 100%; } }

.grid-container > .column-1 {
  grid-column: span 12; }

.grid-container > .column-2 {
  grid-column: span 6; }
  @media only screen and (max-width: 480px) {
    .grid-container > .column-2 {
      grid-column: span 12; } }

.grid-container > .column-3 {
  grid-column: span 4; }
  @media only screen and (max-width: 480px) {
    .grid-container > .column-3 {
      grid-column: span 12; } }

.grid-container > .column-4 {
  grid-column: span 3; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .grid-container > .column-4 {
      grid-column: span 12; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .grid-container > .column-4 {
      grid-column: span 12; } }
  @media only screen and (max-width: 480px) {
    .grid-container > .column-4 {
      grid-column: span 12; } }

.grid-container > .column-5 {
  grid-column: span 2; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .grid-container > .column-5 {
      grid-column: span 12; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .grid-container > .column-5 {
      grid-column: span 12; } }
  @media only screen and (max-width: 480px) {
    .grid-container > .column-5 {
      grid-column: span 12; } }

.grid-container > .column-6 {
  grid-column: span 1; }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .grid-container > .column-6 {
      grid-column: span 2; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .grid-container > .column-6 {
      grid-column: span 12; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .grid-container > .column-6 {
      grid-column: span 12; } }
  @media only screen and (max-width: 480px) {
    .grid-container > .column-6 {
      grid-column: span 12; } }

/* Percentage Container */
.p-container {
  width: 100%; }
  .p-container::after {
    display: block;
    display: contents;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }
  .p-container > .column-1 {
    min-width: 100%;
    max-width: 100%;
    float: left; }
    .p-container > .column-1::after {
      display: block;
      display: contents;
      clear: both;
      line-height: 0;
      height: 0;
      content: " "; }
  .p-container > .column-2 {
    min-width: 50%;
    max-width: 100%;
    float: left; }
    .p-container > .column-2::after {
      display: block;
      display: contents;
      clear: both;
      line-height: 0;
      height: 0;
      content: " "; }
  .p-container > .column-3 {
    min-width: 33.33333%;
    max-width: 100%;
    float: left; }
    .p-container > .column-3::after {
      display: block;
      display: contents;
      clear: both;
      line-height: 0;
      height: 0;
      content: " "; }
    @media only screen and (max-width: 480px) {
      .p-container > .column-3 {
        max-width: 100%;
        width: 100%; } }
  .p-container > .column-4 {
    min-width: 25%;
    max-width: 100%;
    float: left; }
    .p-container > .column-4::after {
      display: block;
      display: contents;
      clear: both;
      line-height: 0;
      height: 0;
      content: " "; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .p-container > .column-4 {
        max-width: 100%;
        width: 100%; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .p-container > .column-4 {
        max-width: 100%;
        width: 100%; } }
    @media only screen and (max-width: 480px) {
      .p-container > .column-4 {
        max-width: 100%;
        width: 100%; } }
  .p-container > .column-5 {
    min-width: 20%;
    max-width: 100%;
    float: left; }
    .p-container > .column-5::after {
      display: block;
      display: contents;
      clear: both;
      line-height: 0;
      height: 0;
      content: " "; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .p-container > .column-5 {
        max-width: 100%;
        width: 100%; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .p-container > .column-5 {
        max-width: 100%;
        width: 100%; } }
    @media only screen and (max-width: 480px) {
      .p-container > .column-5 {
        max-width: 100%;
        width: 100%; } }
  .p-container > .column-6 {
    min-width: 16.66667%;
    max-width: 100%;
    float: left; }
    .p-container > .column-6::after {
      display: block;
      display: contents;
      clear: both;
      line-height: 0;
      height: 0;
      content: " "; }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
      .p-container > .column-6 {
        min-width: 33.33333%; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .p-container > .column-6 {
        max-width: 100%;
        width: 100%; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .p-container > .column-6 {
        max-width: 100%;
        width: 100%; } }
    @media only screen and (max-width: 480px) {
      .p-container > .column-6 {
        max-width: 100%;
        width: 100%; } }

/*
** Text containers and columns **
*/
.text-col-1 {
  width: 100%;
  -webkit-column-count: 1;
  column-count: 1; }
  .text-col-1::after {
    display: block;
    display: contents;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }

.text-col-2 {
  width: 100%;
  -webkit-column-count: 2;
  column-count: 2; }
  .text-col-2::after {
    display: block;
    display: contents;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }

.text-col-3 {
  width: 100%;
  -webkit-column-count: 3;
  column-count: 3; }
  .text-col-3::after {
    display: block;
    display: contents;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }
  @media only screen and (max-width: 480px) {
    .text-col-3 {
      -webkit-columns: 1;
      columns: 1; } }

.text-col-4 {
  width: 100%;
  -webkit-column-count: 4;
  column-count: 4; }
  .text-col-4::after {
    display: block;
    display: contents;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }
  @media only screen and (max-width: 480px) {
    .text-col-4 {
      -webkit-columns: 1;
      columns: 1; } }

.text-col-5 {
  width: 100%;
  -webkit-column-count: 5;
  column-count: 5; }
  .text-col-5::after {
    display: block;
    display: contents;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .text-col-5 {
      clear: both;
      -webkit-columns: 2;
      columns: 2; } }
  @media only screen and (max-width: 480px) {
    .text-col-5 {
      -webkit-columns: 1;
      columns: 1; } }

.text-col-6 {
  width: 100%;
  -webkit-column-count: 6;
  column-count: 6; }
  .text-col-6::after {
    display: block;
    display: contents;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .text-col-6 {
      clear: both;
      -webkit-columns: 2;
      columns: 2; } }
  @media only screen and (max-width: 480px) {
    .text-col-6 {
      -webkit-columns: 1;
      columns: 1; } }

.grow-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.shrink-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1;
  flex: 0 1;
  -webkit-box-flex: initial;
  -ms-flex-positive: initial;
  flex-grow: initial;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

.grow-2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.shrink-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 2;
  flex: 0 2;
  -webkit-box-flex: initial;
  -ms-flex-positive: initial;
  flex-grow: initial;
  -ms-flex-negative: 2;
  flex-shrink: 2; }

.grow-3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.shrink-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 3;
  flex: 0 3;
  -webkit-box-flex: initial;
  -ms-flex-positive: initial;
  flex-grow: initial;
  -ms-flex-negative: 3;
  flex-shrink: 3; }

.grow-4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.shrink-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 4;
  flex: 0 4;
  -webkit-box-flex: initial;
  -ms-flex-positive: initial;
  flex-grow: initial;
  -ms-flex-negative: 4;
  flex-shrink: 4; }

.grow-5 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.shrink-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 5;
  flex: 0 5;
  -webkit-box-flex: initial;
  -ms-flex-positive: initial;
  flex-grow: initial;
  -ms-flex-negative: 5;
  flex-shrink: 5; }

.grow-6 {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6; }

.shrink-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 6;
  flex: 0 6;
  -webkit-box-flex: initial;
  -ms-flex-positive: initial;
  flex-grow: initial;
  -ms-flex-negative: 6;
  flex-shrink: 6; }

.a-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap; }

/* Wrapper / <Main> */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
main, .wrapper {
  width: 100vw;
  max-width: 100% !important;
  min-height: 100vh;
  max-height: auto;
  overflow-x: hidden; }
  main.fixed-container, .wrapper.fixed-container {
    width: 80vw;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto; }

.fixed-container {
  margin-left: auto;
  margin-right: auto; }

/* Top - Header, menu, etc. */
header {
  max-width: 100%;
  width: 100%; }

/* Don't use <menu> or <menuitem> as it is Deprecated and WILL be removed */
header, .header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%; }
  header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100px; }
    @media only screen and (min-width: 1920px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        grid-auto-flow: column;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    @media only screen and (min-width: 1600px) and (max-width: 1919px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        grid-auto-flow: column;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        grid-auto-flow: column;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        grid-auto-flow: column;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        grid-auto-flow: row; } }
    @media only screen and (max-width: 480px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        grid-auto-flow: row; } }
    @media only screen and (min-width: 1920px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        min-width: 1920px;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (min-width: 1600px) and (max-width: 1919px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        min-width: 1600px;
        max-width: 1920px; } }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        min-width: 1024px;
        max-width: 1600px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        min-width: 768px;
        max-width: 1024px; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        min-width: 100%;
        max-width: 100%; } }
    @media only screen and (max-width: 480px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        min-width: 100%;
        max-width: 100%; } }
    header > nav.space-between, header .navigation.space-between, header .menu.space-between, .header > nav.space-between, .header .navigation.space-between, .header .menu.space-between {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    header > nav.start, header .navigation.start, header .menu.start, .header > nav.start, .header .navigation.start, .header .menu.start {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start; }
    header > nav.end, header .navigation.end, header .menu.end, .header > nav.end, .header .navigation.end, .header .menu.end {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: end; }
    header > nav.center, header .navigation.center, header .menu.center, .header > nav.center, .header .navigation.center, .header .menu.center {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        height: auto;
        grid-template-rows: auto; } }
    @media only screen and (max-width: 480px) {
      header > nav, header .navigation, header .menu, .header > nav, .header .navigation, .header .menu {
        height: auto;
        grid-template-rows: auto; } }
    header > nav .logo, header > nav .logotype, header > nav input[type='image'], header .navigation .logo, header .navigation .logotype, header .navigation input[type='image'], header .menu .logo, header .menu .logotype, header .menu input[type='image'], .header > nav .logo, .header > nav .logotype, .header > nav input[type='image'], .header .navigation .logo, .header .navigation .logotype, .header .navigation input[type='image'], .header .menu .logo, .header .menu .logotype, .header .menu input[type='image'] {
      height: auto;
      max-height: 100%;
      width: auto;
      max-width: 100%; }
      header > nav .logo.right, header > nav .logotype.right, header > nav input[type='image'].right, header .navigation .logo.right, header .navigation .logotype.right, header .navigation input[type='image'].right, header .menu .logo.right, header .menu .logotype.right, header .menu input[type='image'].right, .header > nav .logo.right, .header > nav .logotype.right, .header > nav input[type='image'].right, .header .navigation .logo.right, .header .navigation .logotype.right, .header .navigation input[type='image'].right, .header .menu .logo.right, .header .menu .logotype.right, .header .menu input[type='image'].right {
        justify-self: end; }
      header > nav .logo.center, header > nav .logotype.center, header > nav input[type='image'].center, header .navigation .logo.center, header .navigation .logotype.center, header .navigation input[type='image'].center, header .menu .logo.center, header .menu .logotype.center, header .menu input[type='image'].center, .header > nav .logo.center, .header > nav .logotype.center, .header > nav input[type='image'].center, .header .navigation .logo.center, .header .navigation .logotype.center, .header .navigation input[type='image'].center, .header .menu .logo.center, .header .menu .logotype.center, .header .menu input[type='image'].center {
        justify-self: center; }
      header > nav .logo > img, header > nav .logotype > img, header > nav input[type='image'] > img, header .navigation .logo > img, header .navigation .logotype > img, header .navigation input[type='image'] > img, header .menu .logo > img, header .menu .logotype > img, header .menu input[type='image'] > img, .header > nav .logo > img, .header > nav .logotype > img, .header > nav input[type='image'] > img, .header .navigation .logo > img, .header .navigation .logotype > img, .header .navigation input[type='image'] > img, .header .menu .logo > img, .header .menu .logotype > img, .header .menu input[type='image'] > img {
        height: 100%;
        max-height: 100%;
        width: auto;
        max-width: 100%;
        -o-object-fit: contain;
        object-fit: contain; }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        header > nav .logo, header > nav .logotype, header > nav input[type='image'], header .navigation .logo, header .navigation .logotype, header .navigation input[type='image'], header .menu .logo, header .menu .logotype, header .menu input[type='image'], .header > nav .logo, .header > nav .logotype, .header > nav input[type='image'], .header .navigation .logo, .header .navigation .logotype, .header .navigation input[type='image'], .header .menu .logo, .header .menu .logotype, .header .menu input[type='image'] {
          margin-left: auto;
          margin-right: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          justify-self: center; } }
      @media only screen and (max-width: 480px) {
        header > nav .logo, header > nav .logotype, header > nav input[type='image'], header .navigation .logo, header .navigation .logotype, header .navigation input[type='image'], header .menu .logo, header .menu .logotype, header .menu input[type='image'], .header > nav .logo, .header > nav .logotype, .header > nav input[type='image'], .header .navigation .logo, .header .navigation .logotype, .header .navigation input[type='image'], .header .menu .logo, .header .menu .logotype, .header .menu input[type='image'] {
          margin-left: auto;
          margin-right: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          justify-self: center; } }
    header > nav ul, header > nav ul.menu, header .navigation ul, header .navigation ul.menu, header .menu ul, header .menu ul.menu, .header > nav ul, .header > nav ul.menu, .header .navigation ul, .header .navigation ul.menu, .header .menu ul, .header .menu ul.menu {
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      -ms-flex-item-align: center;
      align-self: center;
      white-space: nowrap; }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        header > nav ul, header > nav ul.menu, header .navigation ul, header .navigation ul.menu, header .menu ul, header .menu ul.menu, .header > nav ul, .header > nav ul.menu, .header .navigation ul, .header .navigation ul.menu, .header .menu ul, .header .menu ul.menu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          header > nav ul > li, header > nav ul.menu > li, header .navigation ul > li, header .navigation ul.menu > li, header .menu ul > li, header .menu ul.menu > li, .header > nav ul > li, .header > nav ul.menu > li, .header .navigation ul > li, .header .navigation ul.menu > li, .header .menu ul > li, .header .menu ul.menu > li {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1; } }
      header > nav ul > li, header > nav ul.menu > li, header .navigation ul > li, header .navigation ul.menu > li, header .menu ul > li, header .menu ul.menu > li, .header > nav ul > li, .header > nav ul.menu > li, .header .navigation ul > li, .header .navigation ul.menu > li, .header .menu ul > li, .header .menu ul.menu > li {
        display: inline-block;
        position: relative; }
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          header > nav ul > li, header > nav ul.menu > li, header .navigation ul > li, header .navigation ul.menu > li, header .menu ul > li, header .menu ul.menu > li, .header > nav ul > li, .header > nav ul.menu > li, .header .navigation ul > li, .header .navigation ul.menu > li, .header .menu ul > li, .header .menu ul.menu > li {
            display: block; } }
        @media only screen and (max-width: 480px) {
          header > nav ul > li, header > nav ul.menu > li, header .navigation ul > li, header .navigation ul.menu > li, header .menu ul > li, header .menu ul.menu > li, .header > nav ul > li, .header > nav ul.menu > li, .header .navigation ul > li, .header .navigation ul.menu > li, .header .menu ul > li, .header .menu ul.menu > li {
            display: block; } }
        header > nav ul > li > a, header > nav ul.menu > li > a, header .navigation ul > li > a, header .navigation ul.menu > li > a, header .menu ul > li > a, header .menu ul.menu > li > a, .header > nav ul > li > a, .header > nav ul.menu > li > a, .header .navigation ul > li > a, .header .navigation ul.menu > li > a, .header .menu ul > li > a, .header .menu ul.menu > li > a {
          display: block;
          font-size: 1rem;
          padding: 10px;
          text-align: center;
          white-space: nowrap; }

/* Content - <Section>, <Article>, <Aside>, etc. */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
html, body, main {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%; }

/* Footer - <Footer>, .footer, #footer, etc. */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
footer, .footer, #footer {
  max-width: 100%;
  width: 100%; }
  footer > div, .footer > div, #footer > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

/* Responsive fixes */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
/* PUSH */
/* Fill Available */
section {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    section {
      max-width: 100%; } }
  @media only screen and (max-width: 480px) {
    section {
      max-width: 100%; } }

.message-box {
  display: none;
  position: fixed;
  min-width: 500px;
  width: 30%;
  min-height: 30%;
  left: 50%;
  top: 50%;
  padding: 0.5rem;
  color: #ECF0F1;
  background: #6C7A89;
  -webkit-box-shadow: 0 0 10px #333333, inset 4px 4px #6C7A89, inset -4px -4px #6C7A89, inset 5px 5px 0 #ECF0F1, inset -5px -5px 0 #ECF0F1;
  box-shadow: 0 0 10px #333333, inset 4px 4px #6C7A89, inset -4px -4px #6C7A89, inset 5px 5px 0 #ECF0F1, inset -5px -5px 0 #ECF0F1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.message-box > h1,
.message-box > h2,
.message-box > h3,
.message-box > h4,
.message-box > h5 {
  display: block;
  color: #333333;
  background: #ECF0F1;
  text-align: center; }

.message-box > p {
  padding: 1rem;
  text-align: center; }

.message-box .close {
  display: block;
  text-align: right;
  padding: 0.2rem;
  color: #ECF0F1; }

.message-box.warning {
  background: #EF4836;
  -webkit-box-shadow: 0 0 10px #333333, inset 4px 4px #EF4836, inset -4px -4px #EF4836, inset 5px 5px 0 #ECF0F1, inset -5px -5px 0 #ECF0F1;
  box-shadow: 0 0 10px #333333, inset 4px 4px #EF4836, inset -4px -4px #EF4836, inset 5px 5px 0 #ECF0F1, inset -5px -5px 0 #ECF0F1; }

.message-box.warning > p {
  color: #ECF0F1; }

.message-box.success {
  background: #87D37C;
  -webkit-box-shadow: 0 0 10px #333333, inset 4px 4px #87D37C, inset -4px -4px #87D37C, inset 5px 5px 0 #ECF0F1, inset -5px -5px 0 #ECF0F1;
  box-shadow: 0 0 10px #333333, inset 4px 4px #87D37C, inset -4px -4px #87D37C, inset 5px 5px 0 #ECF0F1, inset -5px -5px 0 #ECF0F1; }

.message-box.success > p {
  color: #ECF0F1; }

.message-box:target {
  display: table; }

[data-tooltip]:hover {
  position: relative; }

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  display: none;
  max-width: 300px;
  width: auto;
  max-height: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px -5px #000;
  box-shadow: 0 0 8px -5px #000; }

[data-tooltip]:hover::after {
  display: grid;
  z-index: 9; }

[data-tooltip][data-tooltip-offset="text"]::after {
  left: -125px;
  top: -10px; }

[aria-hidden="true"] {
  display: none !important; }

[aria-hidden="false"] {
  display: initial !important; }
