@-ms-viewport {
  width: device-width; }

/*
This is more of a reset than a traditional "normalizer", but with "normalizer" settings thrown in.
It's made more to my taste as to what a reset/normalizer should do,
which is to make elements behave in way "you want to", but still keeping things
like still being able to use "margin: 0 auto;", etc.
This is basically the result of a lot of testing.
It is completely optional to use this or not.
NO CREDIT IS NEEDED. USE AND/OR ABUSE THIS HOWEVER YOU WANT.

Use html5shiv to get the best result in legacy Internet Explorer browsers ( https://github.com/aFarkas/html5shiv )
html5shiv does however not work for HTML5 inputs, such as "<input type=color>" and please
keep in mind that IE7- do NOT accept styling of unknown elements (of any type).

Browsers Tested:

    Internet Explorer (actually tested in virtual enviroment): 7(*), 8, 9
    Edge: 41.16299.15.0
    Opera: 50.0.2762.67
    Chrome: 63.0.3239.132, 64.0.3282.140
    Firefox: 58.0.1
    Firefox Nightly: 60.0a1
    Firefox Developer: 59.0b6
    Vivaldi: 1.14.1077.41
    Brave: 0.19.147, 0.20.30

    * = It is recommend to just NOT use HTML5 or CSS3 technologies for this browser.

    Why I haven't tested this in any other legacy browsers than Internet Explorer's 7, 8 and 9, is because
    if someone uses a different browser than IE, they are most probably/likely keeping their browser
    up to date.
    Instead of trying to support legacy IE browsers, the best thing would be to add a short code
    that makes the website inaccessible, unless they get a modern one. We all know what a pain
    in the ass Internet Explorer is, hence the reason to just not support it. Who thinks it's
    fun to develop for something that gives you too many limitations, right?
 -----------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------
 -----------------------------------------------------------------------------------
*/
/* BW = Border-width, BS = Border-style, BC = Border-color */
/* Normalize all of these and apply "thin" to the border-width, instead of the default */
/* Reset texts */
html {
  -webkit-tab-size: 0;
  -moz-tab-size: 0;
  -o-tab-size: 0;
  tab-size: 0; }

html > body {
  -webkit-tab-size: 8;
  -moz-tab-size: 8;
  -o-tab-size: 8;
  tab-size: 8;
  font-family: "Verdana", sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-size: inherit;
  font-size-adjust: 0.54;
  font-weight: 400;
  text-align: inherit;
  unicode-bidi: embed;
  line-height: 1.4em;
  color: inherit; }

html, body {
  margin: 0;
  padding: 0;
  /* Removes "Whitespace nodes", (but not for inputs) } Both are needed */
  /* Removes "Whitespace nodes", (but not for inputs) } for this fix */
  white-space: nowrap;
  white-space: initial; }

article, aside, dialog, footer, header, menu, main, nav, section, details, div, img, video, canvas, svg, embed, source, track, form, ul, li, iframe, figure, picture, b, i, u, s, q, strike, code, tt, small, font, center, em, strong, sub, sup, del, samp, big, mark, abbr, bdi, summary, dfn, caption, ins, legend, cite, var, label, rt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  border-top-width: thin;
  border-top-style: none;
  border-top-color: transparent;
  border-right-width: thin;
  border-right-style: none;
  border-right-color: transparent;
  border-bottom-width: thin;
  border-bottom-style: none;
  border-bottom-color: transparent;
  border-left-width: thin;
  border-left-style: none;
  border-left-color: transparent; }

b, i, u, s, q, strike, code, tt, small, font, center, em, strong, sub, sup, del, samp, big, mark, abbr, bdi, summary, dfn, caption, ins, legend, cite, var, label, rt,
details {
  font-family: "Verdana", sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-size: inherit;
  font-size-adjust: 0.54;
  font-weight: 400;
  text-align: inherit;
  unicode-bidi: embed;
  line-height: 1.4em;
  color: inherit;
  word-spacing: 0.01em;
  word-wrap: break-word;
  vertical-align: baseline;
  letter-spacing: 0.1px;
  direction: ltr;
  /* Font smooth hack */
  text-shadow: 0.1px 0.1px 0 rgba(0, 0, 0, 0.4); }

blockquote, dd, dir, dl, dt, figcaption, figure, hr, li, main, ol, p, pre, ul {
  display: block; }

a, abbr, b, bdi, bdo, br, cite, code, data, dfn, em, i, kbd, mark, nobr, q, rp, rt, rtc, ruby, s, samp, small, span, strong, sub, time, tt, u, var, wbr {
  display: inline; }

em, strong, dfn, code, samp, kbd, var, cite, a, basefont, img, applet, param, font, br, map, area, tt, i, b, u, strike, big, small, sub, sup, input, select, option, textarea, caption, tr, th, td, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  font-family: "Verdana", sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-size: inherit;
  font-size-adjust: 0.54;
  font-weight: 400;
  text-align: inherit;
  unicode-bidi: embed;
  line-height: 1.4em;
  color: inherit;
  word-spacing: 0.01em;
  word-wrap: break-word;
  vertical-align: baseline;
  letter-spacing: 0.1px;
  direction: ltr;
  /* Font smooth hack */
  text-shadow: 0.1px 0.1px 0 rgba(0, 0, 0, 0.4); }

h1 {
  font-size: 200%; }

h2 {
  font-size: 150%; }

h3 {
  font-size: 130%; }

h4 {
  font-size: 100%; }

h5 {
  font-size: 80%; }

h6 {
  font-size: 70%; }

br {
  clear: both; }

input, select, option, button, textarea, datalist, output, optgroup {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  font-family: "Verdana", sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-size: inherit;
  font-size-adjust: 0.54;
  font-weight: 400;
  text-align: inherit;
  unicode-bidi: embed;
  line-height: 1.4em;
  color: inherit;
  background-color: #F1F1F1; }

/* Only apply any size related CSS styling to these and NOT radio- or checkbox-buttons */
input[type="text"], input[type="button"], input[type="color"],
input[type="date"], input[type="datetime-local"], input[type="email"],
input[type="file"], input[type="image"], input[type="month"],
input[type="number"], input[type="range"], input[type="reset"],
input[type="password"], input[type="submit"], input[type="tel"],
input[type="time"], input[type="url"], input[type="week"],
select, textarea {
  margin-bottom: 1px; }

input[type=image] {
  background-color: initial; }

/* HTML5 Input Elements */
input[type="search"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"],
input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"] {
  display: block; }

/* IE8 & where src hasn't been given source */
* + html input[type="image"],
input[type="image"][src=""],
input[src=""] {
  display: none; }

input[type="file"] {
  /* Vertically centers text and button */
  line-height: 250%; }

input, select, textarea, button {
  min-width: 1px;
  /* Gives input color a "standard" height for some reason (not only 1px) */
  min-height: 1px;
  /* Fixes IE7 */
  padding: 1px; }

[type="button"], [type="submit"], [type="reset"] button {
  -webkit-appearance: button;
  border: 0; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/* For <input type="file"> for -webkit-, such as: Opera, Chrome, etc. */
::-webkit-file-upload-button {
  /* Vertically centers text and button */
  line-height: 250%;
  min-width: 1px;
  /* Gives input color a "standard" height for some reason (not only 1px) */
  min-height: 1px;
  /* Fixes IE7 */
  padding: 1px;
  border: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0; }

form,
form > fieldset,
form > input,
form > textarea,
form > button,
form > fieldset > input,
form > fieldset > textarea,
form > fieldset > button {
  word-spacing: 0; }

form {
  /* Works better than display inline since "margin: 0 auto;" now can be used, but no longer gets a "width: 100%;" default value */
  display: table; }

form > fieldset {
  display: inline;
  padding: 0.35em 0.75em 0.625em; }

form > legend {
  display: table; }

form > input,
form > textarea,
form > button,
form > fieldset > input,
form > fieldset > textarea,
form > fieldset > button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block; }

form > input,
form > textarea,
form > button {
  /* IE7 and 8 hack */
  float: left\9;
  clear: both\9; }

form > fieldset > input[type="radio"], form > fieldset > input[type="checkbox"] {
  display: table-cell; }

input[type="radio"], input[type="checkbox"] {
  display: table-cell;
  clear: initial; }

form, input, textarea, button, legend, select, option {
  -webkit-margin-start: 0;
  -moz-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  -moz-margin-end: 0;
  margin-inline-end: 0;
  -webkit-padding-before: 0;
  padding-block-start: 0;
  -webkit-padding-after: 0;
  padding-block-end: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  padding-inline-end: 0; }

caption {
  caption-side: top; }

center, caption {
  text-align: center; }

sub, sup, small {
  font-size: 80%; }

cite, i, var, dfn {
  font-style: italic; }

em {
  font-style: oblique; }

code, samp, pre, kbd {
  font-family: monospace, monospace; }

ins {
  text-decoration: underline; }

pre {
  white-space: pre;
  margin: 0.2em 0 0; }

s {
  text-decoration: line-through; }

b, strong {
  font-weight: bolder; }

sub {
  vertical-align: sub; }

sup {
  vertical-align: super; }

var {
  color: BlueViolet;
  font-weight: 500; }

mark {
  /* Inline unfortunately this creates "Whitespace nodes"... Deal with it ;P */
  display: table;
  /* F*ck display: inline;.... Seriously... */
  background-color: #FFFF61; }

abbr {
  border-bottom: 1px dotted #000; }

kbd {
  /* This fixes/removes the "Whitespace nodes" it spits out */
  display: block; }

summary {
  display: list-item; }

blockquote {
  margin: 0; }

img, video {
  float: left;
  clear: both; }

address, article, aside, canvas, div, fieldset, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, nav, output, section, table, tfoot, video {
  display: block; }

a {
  outline: none; }
  a, a:visited {
    text-decoration: none;
    color: #0008ff; }
  a:hover, a:focus, a:active {
    text-decoration: underline; }

/* IE7 and 8 hack */
* + html img, * + html video {
  float: left\9;
  clear: both\9; }

table, tbody, thead, tfoot, th, tr, td, colgroup, col {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-size: inherit;
  font-size-adjust: 0.54;
  font-weight: 400;
  text-align: inherit;
  unicode-bidi: embed;
  line-height: 1.4em;
  color: inherit; }

table {
  /* Even though the "user-agent"-default is table-row-group, but table is better (in my opinion) since "margin: 0 auto" can be used with it, even without "width" */
  display: table;
  /* Let's make tables automagically responsive with this simple line of code */
  overflow-x: auto; }

tbody {
  /* Since tbody gets generated automatically, let's make <tbody> act as if it's the table */
  display: table-row-group; }

thead {
  display: table-header-group; }

tfoot {
  display: table-footer-group; }

tr {
  display: table-row; }

th, td {
  display: table-cell; }

th {
  font-weight: bold; }

[hidden] {
  /* In case it gets overriden somewhere */
  display: none !important; }

[visibility="hidden"] {
  /* In case it gets overriden somewhere */
  visibility: hidden !important; }

[dir="ltr"] {
  direction: ltr; }

[dir="rtl"] {
  direction: rtl; }

[dir="auto"] {
  direction: inherit; }

/*
* ------------- 9) Display none / [src=""] ------------- *
*/
audio[src=""],
embed[src=""],
iframe[src=""],
img[src=""],
source[src=""],
track[src=""],
video[src=""] {
  /* If either of these elements (accepting the src attribute) are empty, set "display: none;" to not take up space in the layout */
  display: none !important;
  display: none\9  !important; }

/* Legacy IE (Internet Explorer) will completely ignore this rule */
@supports (display: block) {
  abbr {
    border: 0;
    display: block;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted; } }

article, aside, audio, canvas, command, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time, track, video, wbr, menu {
  /* A "fix" for older browsers */
  display: block; }

body.unset > *, form.unset > *, table.unset > *, fieldset.unset > *, header.unset > *, section.unset > *, aside.unset > *, footer.unset > * {
  all: initial;
  all: unset; }

div.unset, details.unset {
  all: initial;
  all: unset; }

.unset, .unset-children > * {
  all: initial;
  all: unset; }

/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

@media only screen and (max-width: 384px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

@media only screen and (max-width: 384px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 2rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h1 {
    font-size: 1.9rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h1 {
    font-size: 1.8rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 1.7rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 1.6rem; } }

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1920px) {
  h2 {
    font-size: 1.9rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h2 {
    font-size: 1.8rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h2 {
    font-size: 1.7rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h2 {
    font-size: 1.6rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h2 {
    font-size: 1.5rem; } }

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 1.4rem; } }

@media only screen and (min-width: 1920px) {
  h3 {
    font-size: 1.8rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h3 {
    font-size: 1.7rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h3 {
    font-size: 1.6rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h3 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h3 {
    font-size: 1.4rem; } }

@media only screen and (max-width: 480px) {
  h3 {
    font-size: 1.3rem; } }

@media only screen and (min-width: 1920px) {
  h4 {
    font-size: 1.7rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h4 {
    font-size: 1.6rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h4 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h4 {
    font-size: 1.4rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h4 {
    font-size: 1.3rem; } }

@media only screen and (max-width: 480px) {
  h4 {
    font-size: 1.2rem; } }

@media only screen and (min-width: 1920px) {
  h5 {
    font-size: 1.6rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h5 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h5 {
    font-size: 1.4rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h5 {
    font-size: 1.3rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h5 {
    font-size: 1.2rem; } }

@media only screen and (max-width: 480px) {
  h5 {
    font-size: 1.1rem; } }

@media only screen and (min-width: 1920px) {
  h6 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  h6 {
    font-size: 1.4rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  h6 {
    font-size: 1.3rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h6 {
    font-size: 1.2rem; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h6 {
    font-size: 1.1rem; } }

@media only screen and (max-width: 480px) {
  h6 {
    font-size: 1rem; } }

@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    word-break: break-all;
    word-wrap: break-word; } }

p {
  font-size: 0.98rem; }

.italic, .ita {
  font-style: italic; }

.oblique, .obl {
  font-style: oblique; }

.big {
  font-size: 120%; }

.bigger {
  font-size: 140%; }

.small {
  font-size: 80%; }

.smaller {
  font-size: 60%; }

.super {
  vertical-align: super; }

.sub {
  vertical-align: sub; }

p.footnote {
  color: #DDD; }
  p.footnote.italic, p.footnote.ita {
    font-style: italic; }
  p.footnote.oblique, p.footnote.obl {
    font-style: oblique; }
  p.footnote.big {
    font-size: 120%; }
  p.footnote.bigger {
    font-size: 140%; }
  p.footnote.small {
    font-size: 80%; }
  p.footnote.smaller {
    font-size: 60%; }
  p.footnote .super {
    vertical-align: super; }
  p.footnote.sub {
    vertical-align: sub; }
  p.footnote.invert-color {
    color: #222222; }

/* Classes */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

@media only screen and (max-width: 384px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

/* Helper  */
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Position helper classes */
.fixed, .fixed-top, .fixed-top-left, .fixed-top-right, .fixed-middle, .fixed-bottom, .fixed-bottom-left, .fixed-bottom-right {
  position: fixed; }
  .fixed-top, .fixed-top-left, .fixed-top-right {
    top: 0; }
    .fixed-top-left {
      left: 0; }
    .fixed-top-right {
      right: 0; }
  .fixed-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .fixed-marginauto {
    margin-left: auto;
    margin-right: auto; }

.fixed, .fixed-top, .fixed-top-left, .fixed-top-right, .fixed-middle, .fixed-bottom, .fixed-bottom-left, .fixed-bottom-right {
  position: fixed; }
  .fixed-bottom, .fixed-bottom-left, .fixed-bottom-right {
    bottom: 0; }
    .fixed-bottom-left {
      left: 0; }
    .fixed-bottom-right {
      right: 0; }
  .fixed-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .fixed-marginauto {
    margin-left: auto;
    margin-right: auto; }

.absolute, .absolute-top, .absolute-top-left, .absolute-top-right, .absolute-middle, .absolute-bottom, .absolute-bottom-left, .absolute-bottom-right {
  position: absolute; }
  .absolute-top, .absolute-top-left, .absolute-top-right {
    top: 0; }
    .absolute-top-left {
      left: 0; }
    .absolute-top-right {
      right: 0; }
  .absolute-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .absolute-marginauto {
    margin-left: auto;
    margin-right: auto; }

.absolute, .absolute-top, .absolute-top-left, .absolute-top-right, .absolute-middle, .absolute-bottom, .absolute-bottom-left, .absolute-bottom-right {
  position: absolute; }
  .absolute-bottom, .absolute-bottom-left, .absolute-bottom-right {
    bottom: 0; }
    .absolute-bottom-left {
      left: 0; }
    .absolute-bottom-right {
      right: 0; }
  .absolute-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .absolute-marginauto {
    margin-left: auto;
    margin-right: auto; }

.relative, .relative-top, .relative-top-left, .relative-top-right, .relative-middle, .relative-bottom, .relative-bottom-left, .relative-bottom-right {
  position: relative; }
  .relative-top, .relative-top-left, .relative-top-right {
    top: 0; }
    .relative-top-left {
      left: 0; }
    .relative-top-right {
      right: 0; }
  .relative-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .relative-marginauto {
    margin-left: auto;
    margin-right: auto; }

.relative, .relative-top, .relative-top-left, .relative-top-right, .relative-middle, .relative-bottom, .relative-bottom-left, .relative-bottom-right {
  position: relative; }
  .relative-bottom, .relative-bottom-left, .relative-bottom-right {
    bottom: 0; }
    .relative-bottom-left {
      left: 0; }
    .relative-bottom-right {
      right: 0; }
  .relative-middle {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .relative-marginauto {
    margin-left: auto;
    margin-right: auto; }

/* Clearfix helper class */
.cf {
  *zoom: 1; }
  .cf::after {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }

.cf {
  display: inline-block; }

html[xmlns] .cf {
  display: block; }

* html .cf {
  height: 1%; }

/* Show/Hide helper classes */
.dis-show {
  display: initial !important;
  display: unset !important; }
  .vis-show {
    visibility: initial !important;
    visibility: unset !important; }

.dis-hide {
  display: none !important; }
  .vis-hide {
    visibility: hidden !important; }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  .hide-big-desktop {
    display: none; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  .hide-desktop, .hide-big-desktop {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hide-tab-x, .hide-big-desktop, .hide-desktop {
    display: none; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .hide-tablet, .hide-big-desktop, .hide-desktop, .hide-tab-x {
    display: none; } }

@media only screen and (max-width: 480px) {
  .hide-phone, .hide-big-desktop, .hide-desktop, .hide-tab-x, .hide-tablet {
    display: none; } }

@media only screen and (min-width: 1920px) {
  .show-big-desktop {
    display: initial;
    display: unset; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  .show-big-desktop {
    display: initial;
    display: unset; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  .show-desktop {
    display: initial;
    display: unset; } }

@media only screen and (min-width: 1920px) {
  .show-desktop {
    display: none; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  .show-desktop {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .show-tab-x {
    display: initial;
    display: unset; } }

@media only screen and (min-width: 1920px) {
  .show-tab-x {
    display: none; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  .show-tab-x {
    display: none; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  .show-tab-x {
    display: none; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .show-tablet {
    display: initial;
    display: unset; } }

@media only screen and (min-width: 1920px) {
  .show-tablet {
    display: none; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  .show-tablet {
    display: none; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  .show-tablet {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .show-tablet {
    display: none; } }

@media only screen and (max-width: 480px) {
  .show-phone {
    display: initial;
    display: unset; } }

@media only screen and (min-width: 1920px) {
  .show-phone {
    display: none; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  .show-phone {
    display: none; } }

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  .show-phone {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .show-phone {
    display: none; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .show-phone {
    display: none; } }

/* f-middle = force middle */
.force-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/*
** Container **
*/
/*
** Containers and columns **
*/
/* Flex Container */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; } }

@media only screen and (max-width: 480px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; } }

.flex-container > .column-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  max-width: 100vmax; }
  @media only screen and (min-width: 1920px) {
    .flex-container > .column-1 {
      min-width: 100%; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .flex-container > .column-1 {
      min-width: 1583px; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .flex-container > .column-1 {
      min-width: 1007px; } }

@media only screen and (max-width: 480px) {
  .flex-container .column-1 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

.flex-container > .column-2 {
  -webkit-box-flex: 2;
  -ms-flex: 2 0 50%;
  flex: 2 0 50%;
  max-width: 50vmax; }
  @media only screen and (min-width: 1920px) {
    .flex-container > .column-2 {
      min-width: 50%; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .flex-container > .column-2 {
      min-width: 783px; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .flex-container > .column-2 {
      min-width: 495px; } }

@media only screen and (max-width: 480px) {
  .flex-container .column-2 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

.flex-container > .column-3 {
  -webkit-box-flex: 3;
  -ms-flex: 3 0 33.33333%;
  flex: 3 0 33.33333%;
  max-width: 33.33333vmax; }
  @media only screen and (min-width: 1920px) {
    .flex-container > .column-3 {
      min-width: 33.33333%; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .flex-container > .column-3 {
      min-width: 516.33333px; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .flex-container > .column-3 {
      min-width: 324.33333px; } }

@media only screen and (max-width: 480px) {
  .flex-container .column-3 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

.flex-container > .column-4 {
  -webkit-box-flex: 4;
  -ms-flex: 4 0 25%;
  flex: 4 0 25%;
  max-width: 25vmax; }
  @media only screen and (min-width: 1920px) {
    .flex-container > .column-4 {
      min-width: 25%; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .flex-container > .column-4 {
      min-width: 383px; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .flex-container > .column-4 {
      min-width: 239px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flex-container .column-4 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .flex-container .column-4 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

.flex-container > .column-5 {
  -webkit-box-flex: 5;
  -ms-flex: 5 0 20%;
  flex: 5 0 20%;
  max-width: 20vmax; }
  @media only screen and (min-width: 1920px) {
    .flex-container > .column-5 {
      min-width: 20%; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .flex-container > .column-5 {
      min-width: 303px; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .flex-container > .column-5 {
      min-width: 187.8px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flex-container .column-5 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .flex-container .column-5 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

.flex-container > .column-6 {
  -webkit-box-flex: 6;
  -ms-flex: 6 0 16.66667%;
  flex: 6 0 16.66667%;
  max-width: 16.66667vmax; }
  @media only screen and (min-width: 1920px) {
    .flex-container > .column-6 {
      min-width: 16.66667%; } }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .flex-container > .column-6 {
      min-width: 249.66667px; } }
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .flex-container > .column-6 {
      min-width: 153.66667px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flex-container .column-6 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .flex-container .column-6 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: auto;
    flex-shrink: auto;
    max-width: 100%;
    width: 100%; } }

/* Grid Container */
.grid-container {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 8.33333%;
  max-width: 100%; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .grid-container {
      grid-auto-rows: 100%; } }

.grid-container > .column-1 {
  grid-column: span 12; }

.grid-container > .column-2 {
  grid-column: span 6; }
  @media only screen and (max-width: 480px) {
    .grid-container > .column-2 {
      grid-column: span 12; } }

.grid-container > .column-3 {
  grid-column: span 4; }
  @media only screen and (max-width: 480px) {
    .grid-container > .column-3 {
      grid-column: span 12; } }

.grid-container > .column-4 {
  grid-column: span 3; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .grid-container > .column-4 {
      grid-column: span 12; } }
  @media only screen and (max-width: 480px) {
    .grid-container > .column-4 {
      grid-column: span 12; } }

.grid-container > .column-5 {
  grid-column: span 2; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .grid-container > .column-5 {
      grid-column: span 12; } }
  @media only screen and (max-width: 480px) {
    .grid-container > .column-5 {
      grid-column: span 12; } }

.grid-container > .column-6 {
  grid-column: span 1; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .grid-container > .column-6 {
      grid-column: span 2; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .grid-container > .column-6 {
      grid-column: span 12; } }
  @media only screen and (max-width: 480px) {
    .grid-container > .column-6 {
      grid-column: span 12; } }

/* Percentage Container */
.p-container {
  max-width: 100%;
  min-width: 100%;
  width: 100vw; }
  .p-container .column-1 {
    max-width: 100%;
    width: 100%;
    float: left; }
    @media only screen and (min-width: 1920px) {
      .p-container .column-1 {
        min-width: 1600px; } }
    @media only screen and (min-width: 1600px) and (max-width: 1919px) {
      .p-container .column-1 {
        min-width: 1024px; } }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
      .p-container .column-1 {
        min-width: 768px; } }
    .p-container .column-1::after {
      display: block;
      clear: both;
      line-height: 0;
      height: 0;
      content: " "; }
  .p-container .column-2 {
    max-width: 50%;
    width: 50%;
    float: left; }
    @media only screen and (min-width: 1920px) {
      .p-container .column-2 {
        min-width: 800px; } }
    @media only screen and (min-width: 1600px) and (max-width: 1919px) {
      .p-container .column-2 {
        min-width: 512px; } }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
      .p-container .column-2 {
        min-width: 384px; } }
    .p-container .column-2::after {
      display: block;
      clear: both;
      line-height: 0;
      height: 0;
      content: " "; }
  .p-container .column-3 {
    max-width: 33.33333%;
    width: 33.33333%;
    float: left; }
    @media only screen and (min-width: 1920px) {
      .p-container .column-3 {
        min-width: 533.33333px; } }
    @media only screen and (min-width: 1600px) and (max-width: 1919px) {
      .p-container .column-3 {
        min-width: 341.33333px; } }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
      .p-container .column-3 {
        min-width: 256px; } }
    .p-container .column-3::after {
      display: block;
      clear: both;
      line-height: 0;
      height: 0;
      content: " "; }
    @media only screen and (max-width: 480px) {
      .p-container .column-3 {
        max-width: 100%;
        width: 100%; } }
  .p-container .column-4 {
    max-width: 25%;
    width: 25%;
    float: left; }
    @media only screen and (min-width: 1920px) {
      .p-container .column-4 {
        min-width: 400px; } }
    @media only screen and (min-width: 1600px) and (max-width: 1919px) {
      .p-container .column-4 {
        min-width: 256px; } }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
      .p-container .column-4 {
        min-width: 192px; } }
    .p-container .column-4::after {
      display: block;
      clear: both;
      line-height: 0;
      height: 0;
      content: " "; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .p-container .column-4 {
        max-width: 100%;
        width: 100%; } }
    @media only screen and (max-width: 480px) {
      .p-container .column-4 {
        max-width: 100%;
        width: 100%; } }
  .p-container .column-5 {
    max-width: 20%;
    width: 20%;
    float: left; }
    @media only screen and (min-width: 1920px) {
      .p-container .column-5 {
        min-width: 320px; } }
    @media only screen and (min-width: 1600px) and (max-width: 1919px) {
      .p-container .column-5 {
        min-width: 204.8px; } }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
      .p-container .column-5 {
        min-width: 153.6px; } }
    .p-container .column-5::after {
      display: block;
      clear: both;
      line-height: 0;
      height: 0;
      content: " "; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .p-container .column-5 {
        max-width: 100%;
        width: 100%; } }
    @media only screen and (max-width: 480px) {
      .p-container .column-5 {
        max-width: 100%;
        width: 100%; } }
  .p-container .column-6 {
    max-width: 16.66667%;
    width: 16.66667%;
    float: left; }
    @media only screen and (min-width: 1920px) {
      .p-container .column-6 {
        min-width: 266.66667px; } }
    @media only screen and (min-width: 1600px) and (max-width: 1919px) {
      .p-container .column-6 {
        min-width: 170.66667px; } }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
      .p-container .column-6 {
        min-width: 128px; } }
    .p-container .column-6::after {
      display: block;
      clear: both;
      line-height: 0;
      height: 0;
      content: " "; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .p-container .column-6 {
        max-width: 100%;
        width: 100%; } }
    @media only screen and (max-width: 480px) {
      .p-container .column-6 {
        max-width: 100%;
        width: 100%; } }

/*
** Text containers and columns **
*/
.text-col-1 {
  width: 100%;
  -webkit-columns: 1;
  columns: 1; }
  .text-col-1::after {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }

.text-col-2 {
  width: 100%;
  -webkit-columns: 2;
  columns: 2; }
  .text-col-2::after {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }

.text-col-3 {
  width: 100%;
  -webkit-columns: 3;
  columns: 3; }
  .text-col-3::after {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }
  @media only screen and (max-width: 480px) {
    .text-col-3 {
      -webkit-columns: 1;
      columns: 1; } }

.text-col-4 {
  width: 100%;
  -webkit-columns: 4;
  columns: 4; }
  .text-col-4::after {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }
  @media only screen and (max-width: 480px) {
    .text-col-4 {
      -webkit-columns: 1;
      columns: 1; } }

.text-col-5 {
  width: 100%;
  -webkit-columns: 5;
  columns: 5; }
  .text-col-5::after {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .text-col-5 {
      clear: both;
      -webkit-columns: 2;
      columns: 2; } }
  @media only screen and (max-width: 480px) {
    .text-col-5 {
      -webkit-columns: 1;
      columns: 1; } }

.text-col-6 {
  width: 100%;
  -webkit-columns: 6;
  columns: 6; }
  .text-col-6::after {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .text-col-6 {
      clear: both;
      -webkit-columns: 2;
      columns: 2; } }
  @media only screen and (max-width: 480px) {
    .text-col-6 {
      -webkit-columns: 1;
      columns: 1; } }

.grow-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.shrink-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1;
  flex: 0 1;
  -webkit-box-flex: initial;
  -ms-flex-positive: initial;
  flex-grow: initial;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

.grow-2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.shrink-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 2;
  flex: 0 2;
  -webkit-box-flex: initial;
  -ms-flex-positive: initial;
  flex-grow: initial;
  -ms-flex-negative: 2;
  flex-shrink: 2; }

.grow-3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.shrink-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 3;
  flex: 0 3;
  -webkit-box-flex: initial;
  -ms-flex-positive: initial;
  flex-grow: initial;
  -ms-flex-negative: 3;
  flex-shrink: 3; }

.grow-4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.shrink-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 4;
  flex: 0 4;
  -webkit-box-flex: initial;
  -ms-flex-positive: initial;
  flex-grow: initial;
  -ms-flex-negative: 4;
  flex-shrink: 4; }

.grow-5 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.shrink-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 5;
  flex: 0 5;
  -webkit-box-flex: initial;
  -ms-flex-positive: initial;
  flex-grow: initial;
  -ms-flex-negative: 5;
  flex-shrink: 5; }

.grow-6 {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6; }

.shrink-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 6;
  flex: 0 6;
  -webkit-box-flex: initial;
  -ms-flex-positive: initial;
  flex-grow: initial;
  -ms-flex-negative: 6;
  flex-shrink: 6; }

/* Wrapper / <Main> */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

@media only screen and (max-width: 384px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

main, .wrapper {
  width: 100vw;
  max-width: 100% !important;
  min-height: 100vh;
  max-height: auto;
  overflow-x: hidden; }
  main.fixed-container, .wrapper.fixed-container {
    width: 80vw;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto; }

.fixed-container {
  margin-left: auto;
  margin-right: auto; }

/* Top - Header, menu, etc. */
header {
  max-width: 100%;
  width: 100%; }

/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

@media only screen and (max-width: 384px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

/* Start nav */
nav.nav-container {
  width: 100%;
  position: relative;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  /* Menu */ }
  nav.nav-container .menu {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 120px;
    grid-column-gap: 1%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    /* In case of small screen, center everything */
    /* Give option of spanning the <menu> 100%, but still keep the responsiveness */ }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      nav.nav-container .menu {
        width: 100%;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    @media only screen and (max-width: 480px) {
      nav.nav-container .menu {
        grid-template-columns: 100%; } }
    nav.nav-container .menu.logo-top {
      grid-template-columns: 100%;
      grid-template-rows: 100% 100%; }
      nav.nav-container .menu.logo-top > input[type=image], nav.nav-container .menu.logo-top .logo, nav.nav-container .menu.logo-top .logo > img {
        max-width: 100%;
        max-height: 100%;
        height: 100%; }
    nav.nav-container .menu.logo-right > ul {
      grid-row: 1; }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        nav.nav-container .menu.logo-right > ul {
          grid-row: 2; } }
    nav.nav-container .menu > input[type=image], nav.nav-container .menu .logo, nav.nav-container .menu .logo > img, nav.nav-container .menu > ul, nav.nav-container .menu > input {
      margin-left: auto;
      margin-right: auto; }
    nav.nav-container .menu > input[type=image], nav.nav-container .menu .logo, nav.nav-container .menu .logo > img, nav.nav-container .menu > input {
      height: 100%;
      /* F*ck you, -webkit- max height bug... */
      max-height: 100%; }
    nav.nav-container .menu > ul {
      -ms-flex-item-align: center;
      align-self: center; }
    nav.nav-container .menu > ul li, nav.nav-container .menu > li {
      float: left; }
    nav.nav-container .menu > ul li a, nav.nav-container .menu > li a {
      display: block;
      padding-left: 0.625rem;
      padding-right: 0.625rem; }
    nav.nav-container .menu.fluid {
      width: 100vw;
      grid-column-gap: 0; }
      nav.nav-container .menu.fluid > input[type=image], nav.nav-container .menu.fluid .logo, nav.nav-container .menu.fluid > ul, nav.nav-container .menu.fluid > input {
        margin: 0; }
      nav.nav-container .menu.fluid > input[type=image], nav.nav-container .menu.fluid .logo {
        justify-self: start; }
      nav.nav-container .menu.fluid > ul {
        justify-self: end; }

/* Content - <Section>, <Article>, <Aside>, etc. */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

@media only screen and (max-width: 384px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

section, .content-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  section.aside-left, .content-container.aside-left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap; }
  section > article, section > .content, section > aside, section > .aside, .content-container > article, .content-container > .content, .content-container > aside, .content-container > .aside {
    z-index: 0; }
  section > article, section > .content, .content-container > article, .content-container > .content {
    -webkit-box-flex: 3;
    -ms-flex: 3 0 80%;
    flex: 3 0 80%; }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
      section > article, section > .content, .content-container > article, .content-container > .content {
        -webkit-box-flex: 3;
        -ms-flex: 3 0 75%;
        flex: 3 0 75%; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      section > article, section > .content, .content-container > article, .content-container > .content {
        -webkit-box-flex: 3;
        -ms-flex: 3 0 70%;
        flex: 3 0 70%; } }
    section > article > div, section > .content > div, .content-container > article > div, .content-container > .content > div {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  section > aside, section > .aside, .content-container > aside, .content-container > .aside {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%; }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
      section > aside, section > .aside, .content-container > aside, .content-container > .aside {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
        flex: 1 0 25%; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      section > aside, section > .aside, .content-container > aside, .content-container > .aside {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
        flex: 1 0 30%; } }

/* Footer - <Footer>, .footer, #footer, etc. */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

@media only screen and (max-width: 384px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

footer, .footer, #footer {
  max-width: 100%;
  width: 100%; }
  footer > div, .footer > div, #footer > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

/* Responsive fixes */
/* MARGIN MIXINS */
/* PADDING MIXINS */
/* CLEARFIX MIXIN */
/* MIN HEIGHT */
@media only screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

@media only screen and (max-width: 384px) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; } }

section, .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  section::after, .content-container::after {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }

section > article, section > .content,
.content-container > article, .content-container > .content,
footer, .footer, #footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  section > article::after, section > .content::after,
  .content-container > article::after, .content-container > .content::after,
  footer::after, .footer::after, #footer::after {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    content: " "; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    section > article, section > .content,
    .content-container > article, .content-container > .content,
    footer, .footer, #footer {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }
  @media only screen and (max-width: 480px) {
    section > article, section > .content,
    .content-container > article, .content-container > .content,
    footer, .footer, #footer {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }
  section > article h1, section > article h2, section > article h3, section > article h4, section > article h5, section > article h6, section > .content h1, section > .content h2, section > .content h3, section > .content h4, section > .content h5, section > .content h6,
  .content-container > article h1,
  .content-container > article h2,
  .content-container > article h3,
  .content-container > article h4,
  .content-container > article h5,
  .content-container > article h6, .content-container > .content h1, .content-container > .content h2, .content-container > .content h3, .content-container > .content h4, .content-container > .content h5, .content-container > .content h6,
  footer h1,
  footer h2,
  footer h3,
  footer h4,
  footer h5,
  footer h6, .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    text-align: center;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
  section > article p, section > article span, section > article blockquote, section > article div, section > article ul, section > article ol, section > .content p, section > .content span, section > .content blockquote, section > .content div, section > .content ul, section > .content ol,
  .content-container > article p,
  .content-container > article span,
  .content-container > article blockquote,
  .content-container > article div,
  .content-container > article ul,
  .content-container > article ol, .content-container > .content p, .content-container > .content span, .content-container > .content blockquote, .content-container > .content div, .content-container > .content ul, .content-container > .content ol,
  footer p,
  footer span,
  footer blockquote,
  footer div,
  footer ul,
  footer ol, .footer p, .footer span, .footer blockquote, .footer div, .footer ul, .footer ol, #footer p, #footer span, #footer blockquote, #footer div, #footer ul, #footer ol {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      section > article p, section > article span, section > article blockquote, section > article div, section > article ul, section > article ol, section > .content p, section > .content span, section > .content blockquote, section > .content div, section > .content ul, section > .content ol,
      .content-container > article p,
      .content-container > article span,
      .content-container > article blockquote,
      .content-container > article div,
      .content-container > article ul,
      .content-container > article ol, .content-container > .content p, .content-container > .content span, .content-container > .content blockquote, .content-container > .content div, .content-container > .content ul, .content-container > .content ol,
      footer p,
      footer span,
      footer blockquote,
      footer div,
      footer ul,
      footer ol, .footer p, .footer span, .footer blockquote, .footer div, .footer ul, .footer ol, #footer p, #footer span, #footer blockquote, #footer div, #footer ul, #footer ol {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    @media only screen and (max-width: 480px) {
      section > article p, section > article span, section > article blockquote, section > article div, section > article ul, section > article ol, section > .content p, section > .content span, section > .content blockquote, section > .content div, section > .content ul, section > .content ol,
      .content-container > article p,
      .content-container > article span,
      .content-container > article blockquote,
      .content-container > article div,
      .content-container > article ul,
      .content-container > article ol, .content-container > .content p, .content-container > .content span, .content-container > .content blockquote, .content-container > .content div, .content-container > .content ul, .content-container > .content ol,
      footer p,
      footer span,
      footer blockquote,
      footer div,
      footer ul,
      footer ol, .footer p, .footer span, .footer blockquote, .footer div, .footer ul, .footer ol, #footer p, #footer span, #footer blockquote, #footer div, #footer ul, #footer ol {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }

section > aside::after, section > .aside::after,
.content-container > aside::after, .content-container > .aside::after {
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
  content: " "; }

section > aside p, section > aside span, section > aside blockquote, section > aside div, section > aside ul, section > aside ol, section > .aside p, section > .aside span, section > .aside blockquote, section > .aside div, section > .aside ul, section > .aside ol,
.content-container > aside p,
.content-container > aside span,
.content-container > aside blockquote,
.content-container > aside div,
.content-container > aside ul,
.content-container > aside ol, .content-container > .aside p, .content-container > .aside span, .content-container > .aside blockquote, .content-container > .aside div, .content-container > .aside ul, .content-container > .aside ol {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

section > aside h1, section > aside h2, section > aside h3, section > aside h4, section > aside h5, section > aside h6, section > .aside h1, section > .aside h2, section > .aside h3, section > .aside h4, section > .aside h5, section > .aside h6,
.content-container > aside h1,
.content-container > aside h2,
.content-container > aside h3,
.content-container > aside h4,
.content-container > aside h5,
.content-container > aside h6, .content-container > .aside h1, .content-container > .aside h2, .content-container > .aside h3, .content-container > .aside h4, .content-container > .aside h5, .content-container > .aside h6 {
  text-align: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

[data-tooltip]:hover {
  position: relative; }

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  display: none;
  max-width: 300px;
  width: auto;
  max-height: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px -5px #000;
  box-shadow: 0 0 8px -5px #000; }

[data-tooltip]:hover::after {
  display: grid;
  z-index: 9; }

[data-tooltip][data-tooltip-offset="text"]::after {
  left: -125px;
  top: -10px; }

[aria-hidden="true"] {
  display: none !important; }

[aria-hidden="false"] {
  display: initial !important; }
