doctype html
head
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1.00002', name='viewport')
  title Lib
  link(href='../css/library.css', rel='stylesheet')
  
  style.
    section {
    background: #333;
    }
    
    article {
    height: 400px;
    background: #333;
    }
    
    table {width: 100%; height: 100%;}
    table, tr th, tr td {
    border: 1px solid #a1a1a1;
    text-align: center;
    vertical-align: middle;
    }
    
    * {
    text-align: center;
    }
    
    div > div {
    background: #f0f0f0;
    text-align: center;
    margin: 1px 0;
    min-height: 100px;
    height: auto;
    }
    
    [class*="text-col-"] {
    color: red;
    }
    
    div > div:nth-child(odd),
    div > div:nth-child(3n),
    div > div:nth-child(4n) {
    color: #fff;
    }
    
    div > div:nth-child(odd) {
    background: #333;
    }
    
    div > div:nth-child(1) {
    position: sticky;
    top: 1px;
    background: #C4232B;
    
    color: #1a1a1a;
    }
    
    div > div:nth-child(3n) {
    background: #1a1a1a;
    }
    
    div > div:nth-child(4n) {
    background: #000;
    }
    
    div.helperclasses > div {
    min-height: 200px;
    width: 200px;
    }
  
.p-container
  .column-1(style="background:#fff;color:green;")
    p.force-middle All of these "systems" utilize the ">" selector so nesting is possible.
  
.flex-container#flex
  .column-1.push-p Flex System
    p These boxes (including this one) utilize <em>"display flex"</em>. 
      | A container with the class <code>".flex-container"</code> is needed to enable this flex "system".
      br
      | The breakpoints for the flex boxses are <b>"max-width: 768px;"</b> and <b>"max-width: 480px;"</b>
      | Please don't use in "real projects" yet as this is still under development.
      
  .column-1 .flex-container .column-1
    p.text-col-4 Test with .text-col-4
      br
      | Test with .text-col-4
      br
      | Test with .text-col-4
      br
      | Test with .text-col-4
  
  .column-2 .flex-container .column-2
    p.text-col-2 Test with .text-col-2
      br
      | Test with .text-col-2
  .column-2 .flex-container > .column-2
  
  .column-3 .flex-container > .column-3
  .column-3 .flex-container > .column-3
  .column-3 .flex-container > .column-3
  
  .column-4 .flex-container > .column-4
  .column-4 .flex-container > .column-4
  .column-4 .flex-container > .column-4
  .column-4 .flex-container > .column-4
  
  .column-5 .flex-container > .column-5
  .column-5 .flex-container > .column-5
  .column-5 .flex-container > .column-5
  .column-5 .flex-container > .column-5
  .column-5 .flex-container > .column-5
  
  .column-6 .flex-container > .column-6
  .column-6 .flex-container > .column-6
  .column-6 .flex-container > .column-6
  .column-6 .flex-container > .column-6
  .column-6 .flex-container > .column-6
  .column-6 .flex-container > .column-6
  
.grid-container#grid
  .column-1.push-p Grid System
    p These boxes (including this one) utilize <em>"display grid"</em>. 
      | A container with the class <code>".grid-container"</code> is needed to enable this grid "system".
      br
      | The breakpoints for the grid system are the same as for <a href="#flex">flex</a>.
      | Please don't use in "real projects" yet as this is still under development.
      br
      | <i>Devs notes:</i> Unfortunatly <code>"grid-column"</code> and <code>"grid-row"</code>
      | do not accept decimals as a value (example: 1.5), hence the .column-6 being as they are.
      | Neither are grid items flexible, so it won't automatically fill empty spaces.
      
  .column-1 .grid-container .column-1
    p.text-col-5 Test with .text-col-5
          br
          | Test with .text-col-5
          br
          | Test with .text-col-5
          br
          | Test with .text-col-5
          br
          | Test with .text-col-5
  
  .column-2 .grid-container > .column-2
  .column-2 .grid-container > .column-2
  
  .column-3 .grid-container > .column-3
  .column-3 .grid-container > .column-3
  .column-3 .grid-container > .column-3
  
  .column-4 .grid-container > .column-4
  .column-4 .grid-container > .column-4
  .column-4 .grid-container > .column-4
  .column-4 .grid-container > .column-4
  
  .column-5 .grid-container > .column-5
  .column-5 .grid-container > .column-5
  .column-5 .grid-container > .column-5
  .column-5 .grid-container > .column-5
  .column-5 .grid-container > .column-5
  .column-5 .grid-container > .column-5
  
  .column-6 .grid-container > .column-6
  .column-6 .grid-container > .column-6
  .column-6 .grid-container > .column-6
  .column-6 .grid-container > .column-6
  .column-6 .grid-container > .column-6
  .column-6 .grid-container > .column-6
  .column-6 .grid-container > .column-6
  .column-6 .grid-container > .column-6
  .column-6 .grid-container > .column-6
  .column-6 .grid-container > .column-6
  .column-6 .grid-container > .column-6
  .column-6 .grid-container > .column-6
  
  .column-2 .grid-container > .column-2
  .column-4 .grid-container > .column-4

.p-container#p-container
  .column-1.push-p Percentage System
    p These boxes (including this one) utilize <em>percentage (%)</em>. 
      | A container with the class <code>".p-container"</code> is needed to enable this percentage "system".
      br
      | The breakpoints for the percentage system are the same as for <a href="#flex">flex</a>.
      | Please don't use in "real projects" yet as this is still under development.
      br
      | <i>Dev notes</i>: These boxes uses <code>"float: left;"</code> to align them side by side and have
      | <code>"clear: right;"</code> enabled.
      
  .column-1 .p-container .column-1
    p.text-col-6 Test with .text-col-6
        br
        | Test with .text-col-6
        br
        | Test with .text-col-6
        br
        | Test with .text-col-6
        br
        | Test with .text-col-6
        br
        | Test with .text-col-6

  .column-2 .p-container > .column-2
  .column-2 .p-container > .column-2

  .column-3 .p-container > .column-3
  .column-3 .p-container > .column-3
  .column-3 .p-container > .column-3

  .column-4 .p-container > .column-4
  .column-4 .p-container > .column-4
  .column-4 .p-container > .column-4
  .column-4 .p-container > .column-4

  .column-5 .p-container > .column-5
  .column-5 .p-container > .column-5
  .column-5 .p-container > .column-5
  .column-5 .p-container > .column-5
  .column-5 .p-container > .column-5

  .column-6 .p-container > .column-6
  .column-6 .p-container > .column-6
  .column-6 .p-container > .column-6
  .column-6 .p-container > .column-6
  .column-6 .p-container > .column-6
  .column-6 .p-container > .column-6
  
.p-container#hide-show-classes
  .column-1.push-p Hide / Show classes
  .column-2.hide-phone(style="background:#3E0074;color:#fff;")
    p .hide-phone 
     span(style="color: #C4232B;") :: hide if screen is < 480px
    
  .column-2.hide-tablet(style="background:#511981;color:#fff;")
    p .hide-tablet 
      span(style="color: #C4232B;") :: hide if screen is < 767px
  .column-2.hide-tab-x(style="background:#64328f;color:#fff;")
    p .hide-tab-x 
     span(style="color: #C4232B;") :: hide if screen is < 1023px
  .column-2.hide-desktop(style="background:#774c9d;color:#fff;")
    p .hide-desktop 
      span(style="color: #C4232B;") :: hide if screen is < 1599px
  .column-1.hide-big-desktop(style="background:#8b66ab;")
    p .hide-big-desktop 
      span(style="color: #000;") :: hide if screen is < 1919px
  
  .column-2.show-phone(style="background:#2A80F7;color:#fff;") .show-phone :: show if screen is < 480px
  .column-2.show-tablet(style="background:#3f8cf7;color:#fff;") .show-tablet :: show if screen is > 480px and < 767px
  .column-2.show-tab-x(style="background:#5499f8;color:#fff;") .show-tab-x :: show if screen is > 768px and < 1023px
  .column-2.show-desktop(style="background:#69a6f9;color:#fff;") .show-desktop :: show if screen is > 1024px and < 1599px
  .column-1.show-big-desktop(style="background:#7fb2fa;") .show-big-desktop :: show if screen > 1599
  
.container
  p.text-col-1#text-cols.push-p Text Columns
  
  p.text-col-1 .text-col-1
  
  p.text-col-2
    | .text-col-2
    br/
    | .text-col-2
    
  p.text-col-3
    | .text-col-3
    br/
    | .text-col-3
    br/
    | .text-col-3
    
  p.text-col-4
    | .text-col-4
    br/
    | .text-col-4
    br/
    | .text-col-4
    br/
    | .text-col-4
    
  p.text-col-5
    | .text-col-5
    br/
    | .text-col-5
    br/
    | .text-col-5
    br/
    | .text-col-5
    br/
    | .text-col-5
    
  p.text-col-6
    | .text-col-6
    br/
    | .text-col-6
    br/
    | .text-col-6
    br/
    | .text-col-6
    br/
    | .text-col-6
    br/
    | .text-col-6
    
  // Wrapped
 
.container
  .text-col-1.push-p Text Columns

  .text-col-1 .text-col-1

  .text-col-2
    | .text-col-2
    br
    | .text-col-2

  .text-col-3
    | .text-col-3
    br/
    | .text-col-3
    br/
    | .text-col-3

  .text-col-4
    | .text-col-4
    br/
    | .text-col-4
    br/
    | .text-col-4
    br/
    | .text-col-4

  .text-col-5
    | .text-col-5
    br/
    | .text-col-5
    br/
    | .text-col-5
    br/
    | .text-col-5
    br/
    | .text-col-5

  .text-col-6
    | .text-col-6
    br/
    | .text-col-6
    br/
    | .text-col-6
    br/
    | .text-col-6
    br/
    | .text-col-6
    br/
    | .text-col-6
    
.container
  p.text-col-1#text-cols Text Columns
  
  p.text-col-1 .text-col-1
  
  p.text-col-2
    | .text-col-2
    br/
    | .text-col-2
    
  p.text-col-3
    | .text-col-3
    br/
    | .text-col-3
    br/
    | .text-col-3
    
  p.text-col-4
    | .text-col-4
    br/
    | .text-col-4
    br/
    | .text-col-4
    br/
    | .text-col-4
    
  p.text-col-5
    | .text-col-5
    br/
    | .text-col-5
    br/
    | .text-col-5
    br/
    | .text-col-5
    br/
    | .text-col-5
    
  p.text-col-6
    | .text-col-6
    br/
    | .text-col-6
    br/
    | .text-col-6
    br/
    | .text-col-6
    br/
    | .text-col-6
    br/
    | .text-col-6
    
  // No <br>
 
.container
  .text-col-1 Text Columns

  .text-col-1 .text-col-1

  .text-col-2
    | .text-col-2
    | .text-col-2

  .text-col-3
    | .text-col-3
    | .text-col-3
    | .text-col-3

  .text-col-4
    | .text-col-4
    | .text-col-4
    | .text-col-4
    | .text-col-4

  .text-col-5
    | .text-col-5
    | .text-col-5
    | .text-col-5
    | .text-col-5
    | .text-col-5

  .text-col-6
    | .text-col-6
    | .text-col-6
    | .text-col-6
    | .text-col-6
    | .text-col-6
    | .text-col-6
    
.flex-container#stretch-test
  .column-1 STRETCH TESTS
  .column-2 .column-2
  .column-4 .column-4
  .column-3 .column-3