doctype html
head
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1.00002', name='viewport')
  title Lib
  link(href='../css/library.css', rel='stylesheet')
  style.
    .column-4 {
    padding: 20px;
    }

.grid-container#colors
  .column-4.bg-white .bg-white
  .column-4.bg-gray .bg-gray
  .column-4.bg-black .bg-black
  .column-4.bg-red .bg-red
  .column-4.bg-burntorange .bg-burntorange
  .column-4.bg-crustred .bg-crustred
  .column-4.bg-orange .bg-orange
  .column-4.bg-caliorange .bg-caliorange
  .column-4.bg-pink .bg-pink
  .column-4.bg-purple .bg-purple
  .column-4.bg-studiopurple .bg-studiopurple
  .column-4.bg-blue .bg-blue
  .column-4.bg-marineblue .bg-marineblue
  .column-4.bg-deepblue .bg-deepblue
  .column-4.bg-lightblue .bg-lightblue
  .column-4.bg-green .bg-green
  .column-4.bg-gossipgreen .bg-gossipgreen
  .column-4.bg-salemgreen .bg-salemgreen
  .column-4.bg-yellow .bg-yellow