doctype html
head
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1.00002, shrink-to-fit=no', name='viewport')
  title Lib
  link(href='../css/library.css', rel='stylesheet')
#headings-container
  h1 h1 heading | H1 HEADING 0123456789
  h2 h2 heading | H2 HEADING 0123456789
  h3 h3 heading | H3 HEADING 0123456789
  h4 h4 heading | H4 HEADING 0123456789
  h5 h5 heading | H5 HEADING 0123456789
  h6 h6 heading | H6 HEADING 0123456789
