doctype html
head
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1.00002, shrink-to-fit=no', name='viewport')
  title Lib
  link(href='../css/library.css', rel='stylesheet')
  style(media='screen').
    <![CDATA[
    \.ie7 {
    display: none !important;
    }
    article {
    background: #333;
    }
    aside {
    background: #CCC;
    }
    ]]>
main
  header
    nav.nav-container
      .menu
        input(onclick=';location.reload();', src='../assets/media/placeholder-logo.png', type='image')
        ul
          li
            a(data-tooltip-offset='bottom', data-tooltip='Will actually take you to index.html', href='../index.html') Home
          li
            a(href='#') About
          li
            a(href='#') Contact
          li
            a(href='#') Support
  section.grid-container
    article.column-2
      div
        h3 Section / Content
        p
          span
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta sed, non animi eos iure! Vero, aut, eos ipsa assumenda nobis necessitatibus. Cumque voluptatum, facere distinctio vero omnis mollitia dicta illum.
          span
            | Omnis odit ut molestiae error vero, doloribus sint fugit exercitationem voluptatibus aperiam impedit a accusamus accusantium consectetur dolorum saepe rerum explicabo et. Tempora obcaecati architecto voluptas, molestias ipsum vero minima.
          span
            | Nam, aut! Voluptatibus id iste architecto, alias hic minus enim culpa similique, optio perspiciatis repudiandae. Officia vitae tenetur beatae autem impedit quos repellendus optio ab excepturi eveniet sed, ratione libero.
          span
            | Provident explicabo ducimus eligendi dolor ullam officiis, dolorem. Error, odio, vero. Autem aliquam earum nisi assumenda quae cum tempora ex accusamus ratione esse explicabo, maiores sapiente molestiae harum aliquid fugit.
          span
            | Eius, non. Earum qui quasi, iste ab natus consectetur expedita voluptates nesciunt non enim magnam, ipsa cupiditate dignissimos eos recusandae tempore ipsum dolor aperiam laborum voluptatem. Eligendi, voluptate quo explicabo.
      div
        h3 Extra div test
        p
          span
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta sed, non animi eos iure! Vero, aut, eos ipsa assumenda nobis necessitatibus. Cumque voluptatum, facere distinctio vero omnis mollitia dicta illum.
          span
            | Omnis odit ut molestiae error vero, doloribus sint fugit exercitationem voluptatibus aperiam impedit a accusamus accusantium consectetur dolorum saepe rerum explicabo et. Tempora obcaecati architecto voluptas, molestias ipsum vero minima.
          span
            | Nam, aut! Voluptatibus id iste architecto, alias hic minus enim culpa similique, optio perspiciatis repudiandae. Officia vitae tenetur beatae autem impedit quos repellendus optio ab excepturi eveniet sed, ratione libero.
          span
            | Provident explicabo ducimus eligendi dolor ullam officiis, dolorem. Error, odio, vero. Autem aliquam earum nisi assumenda quae cum tempora ex accusamus ratione esse explicabo, maiores sapiente molestiae harum aliquid fugit.
          span
            | Eius, non. Earum qui quasi, iste ab natus consectetur expedita voluptates nesciunt non enim magnam, ipsa cupiditate dignissimos eos recusandae tempore ipsum dolor aperiam laborum voluptatem. Eligendi, voluptate quo explicabo.
    aside.column-4
      h3 Aside / Sidebar
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto corporis, aperiam iste sint recusandae. Debitis, eligendi blanditiis, voluptatibus aut dolore ratione aperiam impedit ipsum necessitatibus odio, sequi magnam, ex consequatur.
        
    article.column-6 Test
    article.column-6 Test
    article.column-6 Test
    article.column-6 Test
    article.column-6 Test
    article.column-6 Test
    article.column-6 Test
    article.column-6 Test
    article.column-6 Test
    article.column-6 Test
    article.column-6 Test
    article.column-6 Test
  footer
    div
      h3 Menu
    div
      h3 Copyright
    div
      h3 Contact
