doctype html
head
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1.00002, shrink-to-fit=no', name='viewport')
  title Lib
  link(href='../css/library.css', rel='stylesheet')
  style.
    * {
    text-align: center;
    }
  
main
  
  .p-container
    .column-1
      p Links n stuff
      a(href="#") Test
      a(href="#").danger Test with .danger
      a(href="#").success Test with .success
      a(href="#test").message Test with .message
    
    .column-1
      a(href="#").block-link Test with .block-link