doctype html
head
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1.00002, shrink-to-fit=no', name='viewport')
  title Meta
  link(href='../css/library.css', rel='stylesheet')
#meta
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1.00002, shrink-to-fit=no', name='viewport')
style.
  div, div meta {
  display: block;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  }
script.
  var d = document.getElementById('meta');d.innerText = d.innerHTML;
