doctype html
head
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1.00002, shrink-to-fit=no', name='viewport')
  title Normalize
  link(href='../css/library.css', rel='stylesheet')
  script(src='../assets/js/shiv.js')
  script(src='../assets/js/scripts.js')
#text-container.container
  #headings-container
    h1 h1 heading | H1 HEADING 0123456789
    h2 h2 heading | H2 HEADING 0123456789
    h3 h3 heading | H3 HEADING 0123456789
    h4 h4 heading | H4 HEADING 0123456789
    h5 h5 heading | H5 HEADING 0123456789
    h6 h6 heading | H6 HEADING 0123456789
  #paragraph-container
    p This is just a test for paragraph. 0123456789
    p Pneumonoultramicroscopicsilicovolcanoconiosis
    b This is just a test for bold tag. 0123456789
    b Pneumonoultramicroscopicsilicovolcanoconiosis
    i This is just a test for italic tag. 0123456789
    i Pneumonoultramicroscopicsilicovolcanoconiosis
    u This is just a test for underline tag. 0123456789
    u Pneumonoultramicroscopicsilicovolcanoconiosis
    strike This is just a test for strike tag. 0123456789
    strike Pneumonoultramicroscopicsilicovolcanoconiosis
    pre This is just a test for pre tag. 0123456789      
    pre Pneumonoultramicroscopicsilicovolcanoconiosis      
    code This is just a test for code tag. 0123456789
    code Pneumonoultramicroscopicsilicovolcanoconiosis
    tt This is just a test for tt tag. 0123456789
    tt Pneumonoultramicroscopicsilicovolcanoconiosis
    blockquote This is just a test for blockquote tag. 0123456789
    blockquote Pneumonoultramicroscopicsilicovolcanoconiosis
    small This is just a test for small tag. 0123456789
    small Pneumonoultramicroscopicsilicovolcanoconiosis
    font This is just a test for font tag. 0123456789
    font Pneumonoultramicroscopicsilicovolcanoconiosis
    center This is just a test for center tag. 0123456789
    center Pneumonoultramicroscopicsilicovolcanoconiosis
    em This is just a test for em tag. 0123456789
    em Pneumonoultramicroscopicsilicovolcanoconiosis
    strong This is just a test for strong tag. 0123456789
    strong Pneumonoultramicroscopicsilicovolcanoconiosis
    sub This is just a test for sub tag. 0123456789
    sub Pneumonoultramicroscopicsilicovolcanoconiosis
    sup This is just a test for sup tag. 0123456789
    sup Pneumonoultramicroscopicsilicovolcanoconiosis
    del This is just a test for del tag. 0123456789
    del Pneumonoultramicroscopicsilicovolcanoconiosis
    samp This is just a test for samp tag. 0123456789
    samp Pneumonoultramicroscopicsilicovolcanoconiosis
    big This is just a test for big tag. 0123456789
    big Pneumonoultramicroscopicsilicovolcanoconiosis
    var This is just a test for big tag. 0123456789
    var Pneumonoultramicroscopicsilicovolcanoconiosis
    mark This is just a test for big tag. 0123456789
    mark Pneumonoultramicroscopicsilicovolcanoconiosis
    ins This is just a test for big tag. 0123456789
    ins Pneumonoultramicroscopicsilicovolcanoconiosis
    kbd This is just a test for big tag. 0123456789
    kbd Pneumonoultramicroscopicsilicovolcanoconiosis
    details
      summary This is just a test for summary tag. 0123456789
      | This is just a test for details tag. 0123456789
    details
      summary Pneumonoultramicroscopicsilicovolcanoconiosis
      | Pneumonoultramicroscopicsilicovolcanoconiosis
    abbr(title='This is just a test for abbr tag <abbr></abbr>. 0123456789') This is just a test for abbr tag. 0123456789
    abbr(title='Pneumonoultramicroscopicsilicovolcanoconiosis') Pneumonoultramicroscopicsilicovolcanoconiosis
    | This is just a test for text outside any tag, but still inside. 0123456789
    | Pneumonoultramicroscopicsilicovolcanoconiosis
    a(href='#') Link for testing
    .symbols Symbol test: &sect;&half;!&quot;#&curren;%&amp;/()=?&grave;@&pound;$&euro;{[\
    .entities Test for some entities: &lt;&gt;&amp;&quot;&apos;&cent;&pound;&yen;&euro;&copy;&reg;
    .scandinavian-letters &aring;&auml;&ouml;&angst;&Auml;&Ouml;&aelig;&oslash;&AElig;&Oslash;
    .other-languages
      | &Ecy;&tcy;&ocy; &pcy;&rcy;&ocy;&scy;&tcy;&ocy; &tcy;&iecy;&scy;&tcy;, &#x12ED;&#x1204; &#x120D;&#x12AD; &#x1219;&#x12A8;&#x122B; &#x1290;&#x12CD;, &#x647;&#x630;&#x627; &#x647;&#x648; &#x645;&#x62C;&#x631;&#x62F; &#x627;&#x62E;&#x62A;&#x628;&#x627;&#x631;, &#x54D;&#x561; &#x57A;&#x561;&#x580;&#x566;&#x561;&#x57A;&#x565;&#x57D; &#x583;&#x578;&#x580;&#x571;&#x561;&#x580;&#x56F;&#x578;&#x582;&#x574; &#x567;, Bu yaln&imath;z testdir, &Ccirc;i tio estas nur provo, &#x10D4;&#x10E1; &#x10D0;&#x10E0;&#x10D8;&#x10E1; &#x10DB;&#x10EE;&#x10DD;&#x10DA;&#x10DD;&#x10D3; &#x10E2;&#x10D4;&#x10E1;&#x10E2;&#x10D8;, &Alpha;&upsi;&tau;&#x3CC; &epsi;&#x3AF;&nu;&alpha;&iota; &mu;&#x3CC;&nu;&omicron; &delta;&omicron;&kappa;&iota;&mu;&#x3AE;, &#xA86; &#xAAB;&#xA95;&#xACD;&#xAA4; &#xA9F;&#xAC7;&#xAB8;&#xACD;&#xA9F; &#xA9B;&#xAC7;,
      | &#x92F;&#x939; &#x938;&#x93F;&#x930;&#x94D;&#x92B; &#x92A;&#x930;&#x940;&#x915;&#x94D;&#x937;&#x93E; &#x939;&#x948;, &#x5D3;&#x5D0;&#x5B8;&#x5E1; &#x5D0;&#x5D9;&#x5D6; &#x5E0;&#x5D0;&#x5B8;&#x5E8; &#x5E4;&#x5BC;&#x5E8;&#x5D5;&#x5D1;&#x5D9;&#x5E8;&#x5DF;, &Bcy;&#x4B1;&lcy; &zhcy;&acy;&jcy; &#x493;&acy;&ncy;&acy; &scy;&ycy;&ncy;&acy;&#x49B;, &#x1793;&#x17C1;&#x17C7;&#x1782;&#x17D2;&#x179A;&#x17B6;&#x1793;&#x17CB;&#x178F;&#x17C2;&#x1787;&#x17B6;&#x1780;&#x17B6;&#x179A;&#x1792;&#x17D2;&#x179C;&#x17BE;&#x178F;&#x17C1;&#x179F;&#x17D2;&#x178F;&#x1794;&#x17C9;&#x17BB;&#x178E;&#x17D2;&#x178E;&#x17C4;&#x17C7;, &#x8FD9;&#x53EA;&#x662F;&#x6D4B;&#x8BD5;, &#xC774;&#xAC83;&#xC740; &#xB2E8;&#xC9C0; &#xC2DC;&#xD5D8;&#xC774;&#xB2E4;, &#x939;&#x947; &#x92B;&#x915;&#x94D;&#x924; &#x91A;&#x93E;&#x91A;&#x923;&#x940; &#x906;&#x939;&#x947;, &#x62F;&#x627; &#x6CC;&#x648;&#x627;&#x632;&#x6D0; &#x627;&#x632;&#x645;&#x648;&#x6CC;&#x646;&#x647; &#x62F;&#x647;,
      | &#x627;&#x6CC;&#x646; &#x641;&#x642;&#x637; &#x622;&#x632;&#x645;&#x648;&#x646; &#x627;&#x633;&#x62A;, &#xDB8;&#xDD9;&#xDBA; &#xDC4;&#xDD4;&#xDAF;&#xDD9;&#xD9A;&#xDCA; &#xDB4;&#xDBB;&#xDD3;&#xD9A;&#xDCA;&#xDC2;&#xDAB;&#xDBA;&#xD9A;&#xDD2;, &#xE19;&#xE35;&#xE48;&#xE40;&#xE1B;&#xE47;&#xE19;&#xE01;&#xE32;&#xE23;&#xE17;&#xE14;&#xE2A;&#xE2D;&#xE1A;&#xE40;&#xE1E;&#xE35;&#xE22;&#xE07;&#xE2D;&#xE22;&#xE48;&#xE32;&#xE07;&#xE40;&#xE14;&#xE35;&#xE22;&#xE27;, &#x6CC;&#x6C1; &#x635;&#x631;&#x641; &#x622;&#x632;&#x645;&#x627;&#x626;&#x634; &#x6C1;&#x6D2;, &Dstrok;&acirc;y ch&#x1EC9; l&agrave; th&#x1EED; nghi&#x1EC7;m, &#x3053;&#x308C;&#x306F;&#x5358;&#x306A;&#x308B;&#x30C6;&#x30B9;&#x30C8;&#x3067;&#x3059;
  #form-container
    form(action='')
      fieldset
        legend Legend Test
        input(type='text')
        input(type='button', value='Submit')
        button Submit
        input(type='checkbox')
        input(type='checkbox')
        input(type='checkbox')
        input(type='checkbox')
        input(type='checkbox')
        input(type='color')
        input(type='date')
        input(type='datetime-local')
        input(type='email')
        input(type='file')
        input(alt='', src='', type='image')
        input(type='month')
        input(type='number')
        input(type='radio')
        input(type='radio')
        input(type='radio')
        input(type='radio')
        input(type='radio')
        input(max='10', min='0', type='range')
        input(type='reset')
        select
          option(value='Test') Test
          option(value='Test 2') Test 2
        textarea
    form(action='')
      input(type='text')
      input(type='button', value='Submit')
      button Submit
      input(type='checkbox')
      input(type='checkbox')
      input(type='checkbox')
      input(type='checkbox')
      input(type='checkbox')
      input(type='color')
      input(type='date')
      input(type='datetime-local')
      input(type='email')
      input(type='file')
      input(alt='', src='', type='image')
      input(type='month')
      input(type='number')
      input(type='radio')
      input(type='radio')
      input(type='radio')
      input(type='radio')
      input(type='radio')
      input(max='10', min='0', type='range')
      input(type='reset')
      select
        option(value='Test') Test
        option(value='Test 2') Test 2
      textarea
  .iframe-container
    iframe(src='', width='100%')
  .media-container
    img(src='../assets/media/big_tree.jpg')
    img(src='../assets/media/bridge.jpg')
    video(controls='', muted='')
      source(src='../assets/media/video.mp4', type='video/mp4')
      img(src='/Lib/media/big_tree.jpg')
      img(src='/Lib/media/bridge.jpg')
      video(controls='', muted='')
        source(src='/Lib/media/video.mp4', type='video/mp4')
