{
  "name": "Lib",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "scss/classes/helper-classes/_helper-classes.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/library.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/classes/classes.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/templates.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "css/attributes.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "css/classes.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "css/flex.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "css/flex.min.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "css/formatting.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "css/functions.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "css/layout.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "css/library.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "css/mixins.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "css/normalize.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "css/reset.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "scss/attributes.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/classes.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/flex.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/formatting.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/layout.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/mixins.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/normalize.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/reset.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "scss"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/attributes.scss",
      "imports": [
        "scss/attributes/_attributes.scss",
        "scss/attributes/data/_data.scss",
        "scss/attributes/aria/_aria.scss",
        "scss/attributes/role/_role.scss"
      ]
    },
    {
      "path": "scss/classes.scss",
      "imports": [
        "scss/classes/_classes.scss",
        "scss/mixins/_mixins.scss",
        "scss/classes/helper-classes/_helper-classes.scss",
        "scss/classes/positioning/_positioning.scss",
        "scss/classes/layout/_layout.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/flex.scss",
      "imports": [
        "scss/flex/_flex.scss",
        "scss/flex/classes/_classes.scss"
      ]
    },
    {
      "path": "scss/formatting.scss",
      "imports": [
        "scss/formatting/_formatting.scss",
        "scss/formatting/_colors.scss",
        "scss/formatting/_headings.scss",
        "scss/formatting/paragraphs/_paragraphs.scss",
        "scss/formatting/colors/_functions.scss",
        "scss/formatting/colors/_variables.scss",
        "scss/formatting/headings/_headings.scss",
        "scss/mixins/_mixins.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/functions.scss",
      "imports": [
        "scss/functions/_functions.scss",
        "scss/functions/_pxtovw.scss"
      ]
    },
    {
      "path": "scss/layout.scss",
      "imports": [
        "scss/layout/_layout.scss",
        "scss/layout/wrapper/_wrapper.scss",
        "scss/layout/top/_top.scss",
        "scss/layout/content/_content.scss",
        "scss/layout/footer/_footer.scss",
        "scss/layout/responsive/_responsive.scss",
        "scss/mixins/_mixins.scss",
        "scss/layout/top/_header.scss",
        "scss/layout/top/_menu.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/library.scss",
      "imports": [
        "scss/normalize.scss",
        "scss/reset.scss",
        "scss/mixins.scss",
        "scss/formatting.scss",
        "scss/classes.scss",
        "scss/flex.scss",
        "scss/layout.scss",
        "scss/attributes.scss",
        "scss/normal/_normalize.scss",
        "scss/normal/_reset.scss",
        "scss/mixins/_mixins.scss",
        "scss/formatting/_formatting.scss",
        "scss/classes/_classes.scss",
        "scss/flex/_flex.scss",
        "scss/layout/_layout.scss",
        "scss/attributes/_attributes.scss",
        "scss/normal/normalize/_intro.scss",
        "scss/normal/normalize/_var.scss",
        "scss/normal/normalize/_mixins.scss",
        "scss/normal/normalize/_htmlbody.scss",
        "scss/normal/normalize/_globals.scss",
        "scss/normal/normalize/_forms.scss",
        "scss/normal/normalize/_reset.scss",
        "scss/normal/normalize/_tables.scss",
        "scss/normal/normalize/_attr.scss",
        "scss/normal/normalize/_media-attr.scss",
        "scss/normal/normalize/_supports.scss",
        "scss/normal/normalize/_html5.scss",
        "scss/normal/reset/_classes.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss",
        "scss/formatting/_colors.scss",
        "scss/formatting/_headings.scss",
        "scss/formatting/paragraphs/_paragraphs.scss",
        "scss/classes/helper-classes/_helper-classes.scss",
        "scss/classes/positioning/_positioning.scss",
        "scss/classes/layout/_layout.scss",
        "scss/flex/classes/_classes.scss",
        "scss/layout/wrapper/_wrapper.scss",
        "scss/layout/top/_top.scss",
        "scss/layout/content/_content.scss",
        "scss/layout/footer/_footer.scss",
        "scss/layout/responsive/_responsive.scss",
        "scss/attributes/data/_data.scss",
        "scss/attributes/aria/_aria.scss",
        "scss/attributes/role/_role.scss",
        "scss/formatting/colors/_functions.scss",
        "scss/formatting/colors/_variables.scss",
        "scss/formatting/headings/_headings.scss",
        "scss/layout/top/_header.scss",
        "scss/layout/top/_menu.scss"
      ]
    },
    {
      "path": "scss/mixins.scss",
      "imports": [
        "scss/mixins/_mixins.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/normalize.scss",
      "imports": [
        "scss/normal/_normalize.scss",
        "scss/normal/normalize/_intro.scss",
        "scss/normal/normalize/_var.scss",
        "scss/normal/normalize/_mixins.scss",
        "scss/normal/normalize/_htmlbody.scss",
        "scss/normal/normalize/_globals.scss",
        "scss/normal/normalize/_forms.scss",
        "scss/normal/normalize/_reset.scss",
        "scss/normal/normalize/_tables.scss",
        "scss/normal/normalize/_attr.scss",
        "scss/normal/normalize/_media-attr.scss",
        "scss/normal/normalize/_supports.scss",
        "scss/normal/normalize/_html5.scss"
      ]
    },
    {
      "path": "scss/reset.scss",
      "imports": [
        "scss/normal/_reset.scss",
        "scss/normal/reset/_classes.scss"
      ]
    },
    {
      "path": "scss/templates.scss",
      "imports": [
        "scss/templates/_templates.scss",
        "scss/normal/_normalize.scss",
        "scss/mixins/_mixins.scss",
        "scss/templates/_mixins.scss",
        "scss/templates/_variables.scss",
        "scss/templates/template1/_template1.scss",
        "scss/normal/normalize/_intro.scss",
        "scss/normal/normalize/_var.scss",
        "scss/normal/normalize/_mixins.scss",
        "scss/normal/normalize/_htmlbody.scss",
        "scss/normal/normalize/_globals.scss",
        "scss/normal/normalize/_forms.scss",
        "scss/normal/normalize/_reset.scss",
        "scss/normal/normalize/_tables.scss",
        "scss/normal/normalize/_attr.scss",
        "scss/normal/normalize/_media-attr.scss",
        "scss/normal/normalize/_supports.scss",
        "scss/normal/normalize/_html5.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss",
        "scss/templates/template1/_formatting.scss",
        "scss/templates/template1/_classes.scss",
        "scss/templates/template1/_header.scss",
        "scss/templates/template1/_content.scss"
      ]
    },
    {
      "path": "scss/attributes/_attributes.scss",
      "imports": [
        "scss/attributes/data/_data.scss",
        "scss/attributes/aria/_aria.scss",
        "scss/attributes/role/_role.scss"
      ]
    },
    {
      "path": "scss/classes/_classes.scss",
      "imports": [
        "scss/mixins/_mixins.scss",
        "scss/classes/helper-classes/_helper-classes.scss",
        "scss/classes/positioning/_positioning.scss",
        "scss/classes/layout/_layout.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/flex/_flex.scss",
      "imports": [
        "scss/flex/classes/_classes.scss"
      ]
    },
    {
      "path": "scss/formatting/_colors.scss",
      "imports": [
        "scss/formatting/colors/_functions.scss",
        "scss/formatting/colors/_variables.scss"
      ]
    },
    {
      "path": "scss/formatting/_formatting.scss",
      "imports": [
        "scss/formatting/_colors.scss",
        "scss/formatting/_headings.scss",
        "scss/formatting/paragraphs/_paragraphs.scss",
        "scss/formatting/colors/_functions.scss",
        "scss/formatting/colors/_variables.scss",
        "scss/formatting/headings/_headings.scss",
        "scss/mixins/_mixins.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/formatting/_headings.scss",
      "imports": [
        "scss/formatting/headings/_headings.scss",
        "scss/mixins/_mixins.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/functions/_functions.scss",
      "imports": [
        "scss/functions/_pxtovw.scss"
      ]
    },
    {
      "path": "scss/layout/_layout.scss",
      "imports": [
        "scss/layout/wrapper/_wrapper.scss",
        "scss/layout/top/_top.scss",
        "scss/layout/content/_content.scss",
        "scss/layout/footer/_footer.scss",
        "scss/layout/responsive/_responsive.scss",
        "scss/mixins/_mixins.scss",
        "scss/layout/top/_header.scss",
        "scss/layout/top/_menu.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/mixins/_mixins.scss",
      "imports": [
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/normal/_normalize.scss",
      "imports": [
        "scss/normal/normalize/_intro.scss",
        "scss/normal/normalize/_var.scss",
        "scss/normal/normalize/_mixins.scss",
        "scss/normal/normalize/_htmlbody.scss",
        "scss/normal/normalize/_globals.scss",
        "scss/normal/normalize/_forms.scss",
        "scss/normal/normalize/_reset.scss",
        "scss/normal/normalize/_tables.scss",
        "scss/normal/normalize/_attr.scss",
        "scss/normal/normalize/_media-attr.scss",
        "scss/normal/normalize/_supports.scss",
        "scss/normal/normalize/_html5.scss"
      ]
    },
    {
      "path": "scss/normal/_reset.scss",
      "imports": [
        "scss/normal/reset/_classes.scss"
      ]
    },
    {
      "path": "scss/templates/_templates.scss",
      "imports": [
        "scss/normal/_normalize.scss",
        "scss/mixins/_mixins.scss",
        "scss/templates/_mixins.scss",
        "scss/templates/_variables.scss",
        "scss/templates/template1/_template1.scss",
        "scss/normal/normalize/_intro.scss",
        "scss/normal/normalize/_var.scss",
        "scss/normal/normalize/_mixins.scss",
        "scss/normal/normalize/_htmlbody.scss",
        "scss/normal/normalize/_globals.scss",
        "scss/normal/normalize/_forms.scss",
        "scss/normal/normalize/_reset.scss",
        "scss/normal/normalize/_tables.scss",
        "scss/normal/normalize/_attr.scss",
        "scss/normal/normalize/_media-attr.scss",
        "scss/normal/normalize/_supports.scss",
        "scss/normal/normalize/_html5.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss",
        "scss/templates/template1/_formatting.scss",
        "scss/templates/template1/_classes.scss",
        "scss/templates/template1/_header.scss",
        "scss/templates/template1/_content.scss"
      ]
    },
    {
      "path": "scss/formatting/colors/_functions.scss",
      "imports": [
        "scss/formatting/colors/_variables.scss"
      ]
    },
    {
      "path": "scss/formatting/headings/_headings.scss",
      "imports": [
        "scss/mixins/_mixins.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/layout/content/_content.scss",
      "imports": [
        "scss/mixins/_mixins.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/layout/footer/_footer.scss",
      "imports": [
        "scss/mixins/_mixins.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/layout/responsive/_responsive.scss",
      "imports": [
        "scss/mixins/_mixins.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/layout/top/_menu.scss",
      "imports": [
        "scss/mixins/_mixins.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/layout/top/_top.scss",
      "imports": [
        "scss/layout/top/_header.scss",
        "scss/layout/top/_menu.scss",
        "scss/mixins/_mixins.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/layout/wrapper/_wrapper.scss",
      "imports": [
        "scss/mixins/_mixins.scss",
        "scss/mixins/_variables.scss",
        "scss/mixins/_general.scss",
        "scss/mixins/_responsive.scss"
      ]
    },
    {
      "path": "scss/templates/template1/_template1.scss",
      "imports": [
        "scss/templates/template1/_formatting.scss",
        "scss/templates/template1/_classes.scss",
        "scss/templates/template1/_header.scss",
        "scss/templates/template1/_content.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"relative\":\"minified/\"},\"outputSuffix\":\".min\"}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}