/* MARGIN MIXINS */

@mixin marginAuto { margin: { left: auto; right: auto; } }

@mixin marginEnds($spacing: $spacing-unit) { margin: { top: $spacing; bottom: $spacing; } }

@mixin marginSides($spacing: $spacing-unit) { margin: { left: $spacing; right: $spacing; } }

@mixin marginOffset($spacing: $spacing-unit) { margin: { left: -$spacing; right: -$spacing; } }

@mixin marginResetEnds { margin: { top: 0; bottom: 0; } }
@mixin marginResetSides { margin: { left: 0; right: 0; } }

/* PADDING MIXINS */

@mixin paddingEnds($spacing: $spacing-unit) { padding: { top: $spacing; bottom: $spacing; } }
@mixin paddingSides($spacing: $spacing-unit) { padding: { left: $spacing; right: $spacing; } }

@mixin paddingResetEnds { padding: { top: 0; bottom: 0; } }
@mixin paddingResetSides { padding: { left: 0; right: 0; } }

/* CLEARFIX MIXIN */

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    content: " ";
  }
}

@mixin ccf() {
  &:before, &:after {
    display: contents;
    clear: both;
    content: " ";
  }
  
  &:after {
    clear: both;
  }
}

/* MIN HEIGHT */

@mixin minHeight() {
  min-height: 1px;
}

@mixin placeholders {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin hardware($backface: true, $perspective: 1000) {
    @if $backface {
        backface-visibility: hidden;
    }
    perspective: $perspective;
}

@mixin flexbox {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

/* PUSH */

@mixin margin-push($dir: null, $spacing: $spacing-unit) {
  @if ($dir == left) {
    margin-left: $spacing;
  }
  
  @else if ($dir == right) {
    margin-right: $spacing;
  }
  
  @else if ($dir == lr) {
    margin: {
      left: $spacing;
      right: $spacing;
    }
  }
  
  @else if ($dir == top) {
    margin-top: $spacing;
  }
  
  @else if ($dir == bottom) {
    margin-bottom: $spacing;
  }
  
  @else if ($dir == tb) {
    margin: {
      top: $spacing;
      bottom: $spacing;
    }
  }
  
  @else if (dir == null) {
    margin: {
      top: $spacing;
      right: $spacing;
      bottom: $spacing;
      left: $spacing;
    }
  }
}

@mixin padding-push($dir: null, $spacing: $spacing-unit) {
  @if ($dir == left) {
    padding-left: $spacing;
  }
  
  @else if ($dir == right) {
    padding-right: $spacing;
  }
  
  @else if ($dir == lr) {
    padding: {
      left: $spacing;
      right: $spacing;
    }
  }
  
  @else if ($dir == top) {
    padding-top: $spacing;
  }
  
  @else if ($dir == bottom) {
    padding-top: $spacing;
  }
  
  @else if ($dir == tb) {
    padding: {
      top: $spacing;
      bottom: $spacing;
    }
  }
  
  @else if (dir == null) {
    padding: {
      top: $spacing;
      right: $spacing;
      bottom: $spacing;
      left: $spacing;
    }
  }
}

/* Fill Available */

@mixin intrinsic($property, $value) {
  @if $value == fit-content or $value == min-content or $value == max-content {
    #{$property}: -webkit-#{$value};
    #{$property}: -moz-#{$value};
    #{$property}: $value;
  }

  @else if $value == fill-available or $value == available {
    #{$property}: -webkit-fill-available;
    #{$property}: -moz-available;
    #{$property}: fill-available;
  }

  @else {
    #{$property}: $value;
  }
}