$break: 1920px;

$xxs: $break / 5 !default; // 384
$xs: $break / 4 !default; // 480
$sm: $break / 3 !default; // 640
$md: $break / 2 !default; // 960
$lg: $break / 1.5 !default; // 1280
$xlg: $break !default; // 1920

@media only screen and (max-width: $break / 4) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }
}

@media only screen and (max-width: $break / 5) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }
}

@mixin max($device: null) {
  @if $device == phone {
    @media only screen and (max-width: $break / 5) {
      @content;
    }
  }
  @else if $device == tablet {
    @media only screen and (max-width: $break / 4) {
      @content;
    }
  }
  @else if $device == tab-x {
    @media only screen and (max-width: $break / 3) {
      @content;
    }
  }
  @else if $device == desktop {
    @media only screen and (max-width: $break / 2) {
      @content;
    }
  }
  @else if $device == big-desktop {
    @media only screen and (max-width: $break / 1.5) {
      @content;
    }
  }
  @else if $device == null {
    @media only screen and (min-width: $break) {
      @content;
    }
    @media only screen and (max-width: $break) {
      @content;
    }
  }
}

@mixin min($device: null) {
  @if $device == phone {
    @media only screen and (min-width: 480px) {
      @content;
    }
  }
  @else if $device == tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @else if $device == tab-x {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
  @else if $device == desktop {
    @media only screen and (min-width: 1600px) {
      @content;
    }
  }
  @else if $device == big-desktop {
    @media only screen and (min-width: 1920px) {
      @content;
    }
  }
  @else if $device == null {
    @media only screen and (max-width: $break) {
      @content;
    }
    @media only screen and (min-width: $break) {
      @content;
    }
  }
}

@mixin minmax($device: null) {
    @if $device  == phone {
        @media only screen and (min-width: $break / 5 - 1) and (max-width: $break / 4) {
            @content;
        }
    }
    @else if $device == tablet {
        @media only screen and (min-width: $break / 4 - 1) and (max-width: $break / 3) {
            @content;
        }
    }
    @else if $device == tab-x {
        @media only screen and (min-width: $break / 3 - 1) and (max-width: $break / 2) {
            @content;
        }
    }
    @else if $device == desktop {
        @media only screen and (min-width: $break / 2 - 1) and (max-width: $break / 1.5) {
            @content;
        }
    }
    @else if $device == big-desktop {
        @media only screen and (min-width: $break / 1.5 - 1) and (max-width: $break) {
            @content;
        }
    }
    @else if $device == null {
        @media only screen and (min-width: $break) {
            @content;
        }
    }
}

@mixin vp($viewport: null) {
	@if ($viewport == phone) {
		@viewport {
			max-width: 480px;
			@content;
		}
	}
	@else if ($viewport == tablet) {
		@viewport {
			max-width: 768px;
			@content;
		}
	}
	@else if ($viewport == tab-x) {
		@viewport {
			max-width: 1024px;
			@content;
		}
	}
	@else if ($viewport == desktop) {
		@viewport {
			max-width: 1600px;
			@content;
		}
	}
	@else if ($viewport ==  big-desktop) {
		@viewport {
			min-width: 1920px;
			@content;
		}
	}
	@else if ($viewport == null) {
		@viewport {
			min-width: 1920px;
			@content;
		}
	}
}

@mixin mq($mq: null) {
	@if ($mq == phone) {
		@media only screen and(max-width: 480px) {
			@content;
		}
	}
	@else if ($mq == tablet) {
		@media only screen and(min-width: 480px) and (max-width: 767px) {
			@content;
		}
	}
	@else if ($mq == tab-x) {
		@media only screen and(min-width: 768px) and (max-width: 1023px) {
			@content;
		}
	}
	@else if ($mq == desktop) {
		@media only screen and(min-width: 1024px) and (max-width: 1599px) {
			@content;
		}
	}
	@else if ($mq == big-desktop) {
		@media only screen and(min-width: 1600px) and (max-width: 1919px) {
			@content;
		}
	}
	@else if($mq == null) {
		@media only screen and(min-width: 1920px) {
			@content;
		}
	}
}

@mixin responsiveScaling($x, $y, $pseudo: false) {
    $padding: unquote(($y / $x) * 100 + '%');
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    }
    @else {
        padding-top: $padding;
    }
}