section, .content-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: {
        left: auto;
        right: auto;
    }

    @include max(md) {width: 100%; flex-flow: column wrap;}

    &> article, & .content, &> aside, & .aside {
        
        z-index: 0;
        
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }
    }

    &> article, & .content {
        background: #CCC;
        flex: 4;
    }

    &> aside, & .aside {
        background: #333;
        flex: 1;
        @include minmax(xmd) {min-width: 384px;}
    }
}
