@import "../../mixins/mixins";

section, .content-container {
    width: 100%;
    margin: {
        left: auto;
        right: auto;
    }
	
	&.aside-left {
		flex-flow: row-reverse wrap;
	}

    &> article, &> .content, &> aside, &> .aside {
        z-index: 0;
    }

    &> article, &> .content {
        flex: 3 0 80%;
		@include mq(desktop) {flex: 3 0 75%;}
		@include mq(tab-x) {flex: 3 0 70%;}
		
		&> div {
			flex: 1;
		}
    }

    &> aside, &> .aside {
        flex: 1 0 20%;
		@include mq(desktop) {flex: 1 0 25%;}
		@include mq(tab-x) {flex: 1 0 30%;}
    }
}
