// Variables in case of expanding the list of available classes
$header: header, ".header";
$nav: nav, ".navigation";
$logo: ".logo", ".logotype";
$menu: ul, "ul.menu"; /* Don't use <menu> or <menuitem> as it is Deprecated and WILL be removed */

// Header
#{$header} {
	@include paddingEnds($small);
	@include paddingSides($small);
	width: 100%;
	
	// Menu
	&> #{$nav} {
		@include template-grid;
		@include marginAuto;
		@include innerWidth;
		position: relative;
		height: 100px;
		
		&.space-between {
			justify-content: space-between;
		}
		
		&.start {
			justify-content: start;
		}
		
		&.end {
			justify-content: end;
		}
		
		&.center {
			justify-content: center;
		}
		
		@include mq(tablet) { height: auto; grid-template-rows: 120px; }
		@include mq(phone) { height: auto; grid-template-rows: 120px; }
		
		& #{$logo} {
			height: auto;
			max-height: 100%;
			width: auto;
			max-width: 100%;

			&.right {
				justify-self: end;
			}

			&.center {
				justify-self: center;
			}
			
			&> img {
				height: 100%;
				max-height: 100%;
				width: auto;
				max-width: 100%;
				object-fit: contain;
			}
			
			@include mq(tablet) {
				@include marginAuto;
				display: flex;
				justify-content: center;
				justify-self: center;
			}
			@include mq(phone) {
				@include marginAuto;
				display: flex;
				justify-content: center;
				justify-self: center;
			}
		}
		
		& #{$menu} {
			min-width: 100%;
			max-width: 100%;
			width: 100%;
			align-self: center;
			white-space: nowrap;
			
			@include mq(tablet) {
				display: flex;
				&> li {
					flex: 1;
				}
			}
			
			&> li {
				display: inline-block;
				position: relative;
				
				@include mq(tablet) {
					display: block;
				}
				
				@include mq(phone) {
					display: block;
				}

				&> a {
					display: block;
					font-size: 1rem;
					padding: 10px;
					text-align: center;
					white-space: nowrap;
				}
			}
		}
	}
}