html, body, main, .wrapper {
	max-width: 100%;
	width: 100%;
	/* Ugly hack to keep the whole layout stay at 100% width */
	overflow-x: hidden;
}

body {
	min-height: 100%;
}

body > main, body > .wrapper {
	display: flex;
	flex-flow: column nowrap;
}

@import "formatting";
@import "classes";
@import "header";
@import "content";