$options-y: 'top', 'bottom';
$options-x: 'left', 'right';
$positions: 'fixed', 'absolute', 'relative';

/* Helper  */

.block-center {
    display: block;
    @include marginAuto;
}

/* Position helper classes */

@each $position in $positions {
    @each $option-y in $options-y {
        .#{$position} {
            
            position: #{$position};

            &-#{$option-y} {
                @extend .#{$position};
                #{$option-y}: 0;

                @each $option-x in $options-x {
                    &-#{$option-x} {
                        @extend .#{$position}-#{$option-y};
                        #{$option-x}: 0;
                    }
                }

            } // /#{$option-y}

            &-middle {
                @extend .#{$position};
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

			&-marginauto {
                display: block;
				@include marginAuto;
			}
        }
    }

}

/* Clearfix helper class */

.cf {
  @include clearfix;
  *zoom: 1;
}

.cf {
  display: inline-block;
}

html[xmlns] .cf {
  display: block;
}

* html .cf {
  height: 1%;
}

/* Show/Hide/Display/Visibility helper classes */

.dis {
    &-show {
        display: initial !important;
        display: unset !important;
        @at-root .vis {
            &-show {
                visibility: initial !important;
                visibility: unset !important;
            }
        }
    }
    &-hide {
        display: none !important;
        @at-root .vis {
            &-hide {
                visibility: hidden !important;
            }
        }
    }
}

/* Hide Classes */

.hide {
  &-big-desktop { @include mq(big-desktop) { display: none; } @extend .hide-desktop; @extend .hide-tab-x; @extend .hide-tablet; @extend .hide-phone; }
  &-desktop { @include mq(desktop) { display: none; } @extend .hide-tab-x; @extend .hide-tablet; @extend .hide-phone; }
  &-tab-x { @include mq(tab-x) { display: none; } @extend .hide-tablet; @extend .hide-phone; }
  &-tablet { @include mq(tablet) { display: none; } @extend .hide-phone; }
  &-phone { @include mq(phone) { display: none; } }
  
  /* IE Hide Classes */
  &-ie {
    display: none\9;
    visibility: hidden\9;
  }
  
  &-lte-ie6 { /* Lower than and equal to IE6 */
    display/**/: none;
    visibility/**/: none;
  }
}

/* Show Classes */

.show {
  &-big-desktop { 
    @include mq() { display: inherit; }
    @include mq(big-desktop) { display: inherit; }
  }
  &-desktop { @include mq(desktop) {
    display: inherit; } @include mq() { display: none; } @include mq(big-desktop) { display: none; }
  }
  &-tab-x { @include mq(tab-x) {
    display: inherit; } @include mq() { display: none; } @include mq(big-desktop) { display: none; } @include mq(desktop) { display: none; }
  }
  &-tablet { @include mq(tablet) {
    display: inherit; } @include mq() { display: none; } @include mq(big-desktop) { display: none; } @include mq(desktop) { display: none; } @include mq(tab-x) { display: none; }
  }
  &-phone { @include mq(phone) {
    display: inherit; } @include mq() { display: none; } @include mq(big-desktop) { display: none; } @include mq(desktop) { display: none; } @include mq(tab-x) { display: none; } @include mq(tablet) { display: none; }
  }
  
  /* IE Show Classes */
  &-ie {
    display: block\9;
    visibility: visible\9;
  }
  
  &-lte-ie6 { /* Lower than and equal to IE6 */
    display/**/: block;
    visibility/**/: visible;
  }
}

/* Push Classes */

/* Margin */

.push {
  
  &-m {
    & {
      // -m
      margin: {
        top: $spacing-unit;
        right: $spacing-unit;
        bottom: $spacing-unit;
        left: $spacing-unit;
      }
    }
    // -left-right
    &-lr {
      margin: {
        left: $spacing-unit;
        right: $spacing-unit;
      }
    }
    // -top-bottom
    &-tb {
      margin: {
        top: $spacing-unit;
        bottom: $spacing-unit;
      }
    }
    // -left, -right
    @each $option-x in $options-x {
      &-#{$option-x} {
        margin: {
          #{$option-x}: $spacing-unit;
        }
      }
    }
    // -top, -bottom
    @each $option-y in $options-y {
      &-#{$option-y} {
        margin: {
          #{$option-y}: $spacing-unit;
        }
      }
    }
  }
  
  /* Padding */
  
  &-p {
    & {
      // -m
      padding: {
        top: $spacing-unit;
        right: $spacing-unit;
        bottom: $spacing-unit;
        left: $spacing-unit;
      }
    }
    // -left-right
    &-lr {
      padding: {
        left: $spacing-unit;
        right: $spacing-unit;
      }
    }
    // -top-bottom
    &-tb {
      padding: {
        top: $spacing-unit;
        bottom: $spacing-unit;
      }
    }
    @each $option-x in $options-x {
      &-#{$option-x} {
        padding: {
          #{$option-x}: $spacing-unit;
        }
      }
    }
    @each $option-y in $options-y {
      &-#{$option-y} {
        padding: {
          #{$option-y}: $spacing-unit;
        }
      }
    }
  }
}