@import "../../mixins/mixins";

$innerElements: p, span, blockquote, div, ul, ol;
$headings: h1, h2, h3, h4, h5, h6;

section {
  max-width: 1400px;
  margin: {
    left: auto;
    right: auto;
  }
  
  @include mq(tablet) {
    max-width: 100%;
  }
  
  @include mq(phone) {
    max-width: 100%;
  }
}