//- headers.pug
doctype html
html
  head
    meta(charset='UTF-8')
    meta(content='width=device-width, initial-scale=1.00002', name='viewport')
    title Lib - #{title}
    block scripts
      link(href='../css/library.css', rel='stylesheet')
  body
    main
      block main