@import "../../mixins/mixins";
@import "../../functions/functions";

// Breakpoints

// Screen sizes


// Maps
$headings-map: (h1: 3rem, h2: 2.8rem, h3: 2.4rem, h4: 2rem, h5: 1.8rem, h6: 1.4rem);

@each $h, $s in ($headings-map) {
  @each $heading in ($h) {
    #{$heading} {
      @include min(xlg){ font-size: #{$s};}
      @include max(lg){ font-size: #{$s / 1.4};}
      @include max(xmd){ font-size: #{$s / 1.6};}
      @include max(md){ font-size: $s / 1.8;}
      @include max(sm){ font-size: $s / 2;}
      @include max(xs){ font-size: $s / 2.2;}
    }
  }
}
