body, form, table, fieldset, header, section, aside, footer {
  &.unset > * {
    all: initial;
    all: unset;
  }

  @at-root {
    div, details {
      &.unset {
        all: initial;
        all: unset;
      }
    }

    .unset,
    .unset-children > * {
      all: initial;
      all: unset;
    }
  }
}
