#{$global-elements, $global-text-elements} {
  @include global-all;
  @include global-reset;
  @include elements-reset;
}

#{$global-text-elements},
details {
  @include global-font;
  @include text-reset;
}

#{$textContent} {
  display: block;
}

#{$inlineTextContent} {
  display: inline;
}

#{$text-level-elements}, #{$global-headings} {
  @include global-reset;
  @include global-font;
  @include text-reset;
}

h1 {
  // Default
  font-size: 200%;
}

h2 {
  // Default
  font-size: 150%;
}

h3 {
  // Default
  font-size: 130%;
}

h4 {
  // Default
  font-size: 100%;
}

h5 {
  // Default
  font-size: 80%;
}

h6 {
  // Default
  font-size: 70%;
}

br {
  clear: both;
}