html {
  -webkit-tab-size: 0;
  -moz-tab-size: 0;
  -o-tab-size: 0;
  tab-size: 0;
}

html > body {
  -webkit-tab-size: 8;
  -moz-tab-size: 8;
  -o-tab-size: 8;
  tab-size: 8;
  @include global-font;
}

#{$htmlbody} {
	margin: 0;
	padding: 0;
	/* Removes "Whitespace nodes", (but not for inputs) } Both are needed */
	/* Removes "Whitespace nodes", (but not for inputs) } for this fix */
	white-space: nowrap;
	white-space: initial;
}
