/* Legacy IE (Internet Explorer) will completely ignore this rule */
@supports (display:  block) {
  abbr {
    border:          0;
    display:         block;
    text-decoration: underline dotted;
  }
}
