// "Required" elements
$html:                 html;
$body:                 body;
$htmlbody:             $html, $body;


// \_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\
// ------------------------------- $GLOBALs ------------------------------
// /_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/

// Elements used for containing / "wrapping"
$global-elements: article, aside, dialog, footer, header, menu, main, nav, section,
details, div, img, video, canvas, svg, embed, source, track, form, ul, li, iframe, figure, picture;

// Elements used for text formatting
$global-text-elements: b, i, u, s, q, strike, code, tt, small, font, center, em, strong, sub, sup, del, samp, big,
mark, abbr, bdi, summary, dfn, caption, ins, legend, cite,
var, label, rt;

// Form elements
$global-inputs: input, select, option, button, textarea, datalist,
output, optgroup;

$block-level-elements: address, article, aside, canvas, div, fieldset, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, nav, output, section, table, tfoot, video;

$text-level-elements: em, strong, dfn, code, samp, kbd, var, cite, a, basefont,
img, applet, param, font, br, map, area, tt, i, b, u, strike, big, small, sub,
sup, input, select, option, textarea, caption, tr, th, td;

// Text Content (Block level)
$textContent: blockquote, dd, dir, dl, dt, figcaption, figure, hr, li, main, ol, p, pre, ul;

// Inline Text Content (Inline level)
$inlineTextContent: a, abbr, b, bdi, bdo, br, cite, code, data, dfn, em, i, kbd, mark, nobr, q, rp, rt, rtc, ruby, s, samp, small, span, strong, sub, time, tt, u, var, wbr;

// \_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\
// ------------------------------- $ELEMENTs -----------------------------
// /_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/

// HTML5 specific elements
$html5-elements: article, aside, audio, canvas, command, details, embed, figcaption, figure, footer, header, hgroup,
keygen, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time,
track, video, wbr, menu;

// Headings
$global-headings:      h1, h2, h3, h4, h5, h6;
