/*
** Container **
*/

.container {
  @include clearfix;
}

/*
** Containers and columns **
*/

/* Flex Container */

.flex-container {
  display: flex;
  flex-flow: row wrap;
  
  &.flow {
    &-row-rev {
      flex-flow: row-reverse wrap;
    }
    &-column {
      max-width: 100%;
      flex-flow: column wrap;
      
      &-rev {
        max-width: 100%;
        flex-flow: column-reverse wrap;
      }
    }
  }
}

@include mq(tablet) {  
  .flex-container {
    flex-flow: column wrap;
  }
}

@include mq(phone) {
	.flex-container {
		flex-flow: column nowrap;
	}
}

@for $i from 1 through 6 {
  .flex-container {
    &> .column-#{$i} {
        flex: 12 / $i 0 (100% / $i);
    }
    
    @if $i >= 4 {
      @include mq(tab-x) {
        & .column-#{$i} {
          flex: 1 0 100%;
        }
      }
    }
    
    @if $i >= 3 {
      @include mq(tablet) {
          & .column-#{$i} {
              flex: 1 0 100%;
          }
      }
    }

      @include mq(phone) {
          & .column-#{$i} {
              flex-basis: auto;
              flex-shrink: auto;
              max-width: 100%;
              width: 100%;
          }
      }
  }
}

/* Grid Container */

.grid-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  @include mq(tab-x) { grid-auto-columns: 100%; }
}

@for $i from 1 through 5 {
  .grid-container {
    &> .column-#{$i} {
      grid-column: span round(12 / $i);
      
      @if $i >= 4 {
        @include mq(tab-x) { grid-column: span 12; }
        @include mq(tablet) { grid-column: span 12 ; }
      }
      @if $i >= 2 {
        @include mq(phone) { grid-column: span 12; }
      }
    }
  }
}



.grid-container > .column-6 {
  grid-column: span 1;
  @include mq(desktop) { grid-column: span 2; }
  @include mq(tab-x) { grid-column: span 12; }
  @include mq(tablet) { grid-column: span 12; }
  @include mq(phone) { grid-column: span 12; }
}

/* Percentage Container */

.p-container {
  width: 100%;
  
  @include clearfix;
  @for $i from 1 through 6 {
    &> .column-#{$i} {
      
      min-width: 100% / $i;
      max-width: 100%;
      
      float: left;

      @include clearfix;
      @include mq(desktop) {
        @if $i == 6 {
          min-width: (100% / 3);
        }
      }
      @include mq(tab-x) {
        @if $i >= 4 {
          max-width: 100%;
          width: 100%;
        }
      }
      @include mq(tablet) {
        @if $i >= 4 {
          max-width: 100%;
          width: 100%;
        }
      }
      @include mq(phone) {
        @if $i >= 3 {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}

/*
** Text containers and columns **
*/

@for $i from 1 through 6 {
  .text-col-#{$i} {
    width: 100%;
    column-count: $i;
    
    @include clearfix;
    @include mq(tablet) {
      @if $i >= 5 {
        clear: both;
        columns: 2;
      }
    }
    @include mq(phone) {
      @if $i >= 3 {
        columns: 1;
      }
    }
  }
}