/*
** Container **
*/

.container {
  break-before: avoid-column;
  break-after: avoid-column;
  break-inside: avoid-column;
}

/*
** Containers and columns **
*/

/* Flex Container */

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

@include mq(tablet) {
	.flex-container {
		flex-flow: row wrap;
	}
}

@include mq(phone) {
	.flex-container {
		flex-flow: column nowrap;
	}
}

@for $i from 1 through 6 {
  .flex-container {
    &> .column-#{$i} {
        flex: $i 0 (100% / $i);

        max-width: 100 / $i + vmax;
      
        @include mq(null) { min-width: 100% / $i; }
        @include mq(big-desktop) { min-width: 1600 / $i - 17 + px; }
        @include mq(desktop) { min-width: 1024 / $i - 17 + px; }
    }
    @if $i >= 4 {
      @include mq(tablet) {
          & .column-#{$i} {
              flex-basis: auto;
              flex-shrink: auto;
              max-width: 100%;
              width: 100%;
          }
      }
    }

      @include mq(phone) {
          & .column-#{$i} {
              flex-basis: auto;
              flex-shrink: auto;
              max-width: 100%;
              width: 100%;
          }
      }
  }
}

/* Grid Container */

.grid-container {
  display: grid;
  grid-auto-flow: row dense;
  //grid-auto-columns: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 100%;
  
  @include mq(tablet) { grid-auto-rows: 100%; }
}

@for $i from 1 through 5 {
  .grid-container {
    &> .column-#{$i} {
      //grid-column: span $i / 6;
      grid-column: span round(12 / $i);
      
      @if $i >= 4 {
        @include mq(tablet) { grid-column: span 12 ; }
      }
      @if $i >= 2 {
        @include mq(phone) { grid-column: span 12; }
      }
    }
  }
}



.grid-container > .column-6 {
  grid-column: span 1;
  @include mq(tab-x) { grid-column: span 2; }
  @include mq(tablet) { grid-column: span 12; }
  @include mq(phone) { grid-column: span 12; }
}

/* Percentage Container */

.p-container {
  max-width: 100%;
  min-width: 100%;
  width: 100vw;
  
  @include clearfix;
  @for $i from 1 through 6 {
    &> .column-#{$i} {
      @include mq(null) { min-width: 1600px / $i};
      @include mq(big-desktop) { min-width: 1024px / $i};
      @include mq(desktop) { min-width: 768px / $i};
      
      max-width: 100% / $i;
      width: 100% / $i;
      float: left;

      @include clearfix;
      @include mq(tablet) {
        @if $i >= 4 {
          max-width: 100%;
          width: 100%;
        }
      }
      @include mq(phone) {
        @if $i >= 3 {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}

/*
** Text containers and columns **
*/

@for $i from 1 through 6 {
  .text-col-#{$i} {
    width: 100%;
    columns: $i;
    
    @include clearfix;
    @include mq(tablet) {
      @if $i >= 5 {
        clear: both;
        columns: 2;
      }
    }
    @include mq(phone) {
      @if $i >= 3 {
        columns: 1;
      }
    }
  }
}