/*
** Container **
*/

.container {
  clear: both;
}

/*
** Containers and columns **
*/

/* Flex Container */

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

@include mq(tablet) {
	.flex-container {
		flex-flow: row wrap;
	}
}

@include mq(phone) {
	.flex-container {
		flex-flow: column nowrap;
	}
}

@for $i from 1 through 6 {
  .flex-container {
    &> .column-#{$i} {
        flex: $i 0 (100% / $i);

        max-width: 100 / $i + vmax;
        
        @include mq(null) { min-width: 100% / $i; }
        @include mq(big-desktop) { min-width: 1600 / $i - 17 + px; }
        @include mq(desktop) { min-width: 1024 / $i - 17 + px; }
    }
    @if $i >= 4 {
      @include mq(tablet) {
          & .column-#{$i} {
              flex-basis: auto;
              flex-shrink: auto;
              max-width: 100%;
              width: 100%;
          }
      }
    }

      @include mq(phone) {
          & .column-#{$i} {
              flex-basis: auto;
              flex-shrink: auto;
              max-width: 100%;
              width: 100%;
          }
      }
  }
}

/* Grid Container */

.grid-container {
  display: grid;
  //grid-auto-columns: 12fr;
  grid-auto-flow: row dense;
  grid-auto-columns: (100% / 12);
  max-width: 100%;
  @include mq(tablet) { grid-auto-rows: 100%; }
}

@for $i from 1 through 5 {
  .grid-container {
    &> .column-#{$i} {
      //grid-column: span $i / 6;
      grid-column: span round(12 / $i);
      
      @if $i >= 4 {
        @include mq(tablet) { grid-column: span 12 ; }
      }
      @if $i >= 2 {
        @include mq(phone) { grid-column: span 12; }
      }
    }
  }
}



.grid-container > .column-6 {
  grid-column: span 1;
  @include mq(tab-x) { grid-column: span 2; }
  @include mq(tablet) { grid-column: span 12; }
  @include mq(phone) { grid-column: span 12; }
}

/* Percentage Container */

.p-container {
  max-width: 100%;
  min-width: 100%;
  width: 100vw;
  
  @for $i from 0 through 6 {
    & .column-#{$i} {
      @include mq(null) { min-width: 1600px / $i};
      @include mq(big-desktop) { min-width: 1024px / $i};
      @include mq(desktop) { min-width: 768px / $i};
      max-width: 100% / $i;
      width: 100% / $i;
      float: left;
      @include clearfix;
      @include mq(tablet) {
        @if $i >= 4 {
          float: unset;
          max-width: 100%;
          width: 100%;
          @include clearfix;
        }
      }
      @include mq(phone) {
        @if $i >= 3 {
          float: unset;
          max-width: 100%;
          width: 100%;
          @include clearfix;
        }
      }
    }
  }
}

/*
** Text containers and columns **
*/

@for $i from 1 through 6 {
  .text-col-#{$i} {
    @include clearfix;
    columns: (50vw / $i) $i;
    columns: (50vmin / $i) $i;
    clear: both;
    
    @include mq(tablet) {
      @if $i >= 5 {
        columns: 100vw;
        columns: 100vmin;
      }
    }
    @include mq(phone) {
      @if $i >= 3 {
        columns: 100vw;
        columns: 100vmin;
      }
    }
  }
}